[2012-07-03 20:20] mtholder opened #1 "taxonomy elements that trigger the "-bad path branch""
I'm not sure if this is an issue or not, but here is what I'm seeing...
In TreeLoader.addAdditionalTaxonomyTableIntoGraph there is a branch of code to deal with taxa that have an array of parents that eventually ends in null (around line 292-308 in the commit 3f88466e0c8eab9c934e258dea81a464347be660 ).

It looks like the intent is to avoid adding disconnected nodes to the graph.
  Question 1: if t

[2012-07-10 22:06] #1 closed, assigned to blackrim

[2012-09-02 04:21] blackrim opened #2 "nested input taxa"
need to add exception for nested taxa names in the input source trees. so (Homo, Homo_sapiens) needs to kick out because Homo_sapiens is nested within Homo but they are sister in the tree.

[2013-01-30 22:28] blackrim opened #3 "add mrp matrix dump for supertree building"

[2013-02-01 20:06] #3 closed, assigned to blackrim

[2013-02-04 23:01] jar398 opened #4 "Incomplete installation instructions"
In the instructions after sh mvn_cmdline.sh
which yielded "BUILD SUCCESS" I got stuck here:
  java -jar target/treemachine-0.0.1-SNAPSHOT-jar-with-dependencies.jar
There is no such jar file.
There is a jar file in target/ but it isn't runnable ("no main manifest attribute").

Then the instructions say to run neo4j, but didn't say previously that neo4j had to be installed.

[2013-02-05 15:56] #4 closed, assigned to blackrim

[2013-02-20 20:45] jar398 opened #5 "JadeNode.getJSON could be significantly more efficient"
It's using concatenation += to build the result string, meaning a copy of the string is made for every token added. Running time could be linear instead of quadratic by using a StringBuffer or StringWriter to build up the result.

[2013-02-21 17:25] jar398 opened #6 "Rename ISCALLED to something else"
I brought this up before, but ... any chance of getting ISCALLED changed to something else?

(1) A taxon is a class of organisms, not a name for one.
(2) The taxon and the corresponding phylogenetically defined group may be _mostly_ coincident but will never be _exactly_ coincident.

Let A = a phylogenetically defined group = the MRCA or some organisms/groups together with all of the MRCA's descen

[2013-02-21 23:55] jar398 opened #7 "Parse Nexson study file"
There has to be a way to read in a phylogenetic tree coming from Phylografter and represented in Nexson (i.e. NeXML in JSON) format.

[Renamed issue, was "Nexson tree import]

[2013-03-01 20:46] jar398 opened #8 "What is JadeNode.number for?"
It's not clear from the documentation in JadeNode.java what the semantics of "number" is intended to be. Some explanation would be helpful.

[2013-03-06 15:41] chinchliff opened #9 "get subtree for taxon list"
to be ported/refactored from taxomachine

[2013-03-06 16:16] josephwb opened #10 "Synthesis aimed directly at posterior distribution of trees"
Add synthesis methods aimed specifically at tree distributions where taxon sampling is completely overlapping, i.e. posterior distributions (and possibly bootstrap samples). Methods such as concordance trees, agreement subtrees, etc.

[2013-03-08 00:22] jar398 opened #11 "Method for reading Nexson and adding to graph"
Basically we need to connect NexsonReader to MainRunner.

The Nexson file could come either from the file system, if some independent process has fetched it from phylografter into a local file, or it could be fetched directly from phylografter using the web service - this is an undecided design question. I would say that for debugging purposes doing the local file would be the best first step sinc

[2013-03-11 17:12] jar398 opened #15 "Secure neo4j"
Currently access on port 7474 lets you do anything you want to the graph db: add records, add and delete indexes, etc. That's probably fine for as long as we're in development but before an alpha release this needs to be tightened up.

The easiest way to do this would be using Apache Proxypass, which if apache and neo4j were running on the same physical server would have negligible overhead. Use o

[2013-03-12 21:06] #7 closed, assigned to jar398

[2013-03-13 21:57] #6 closed, assigned to nobody

[2013-03-14 13:07] #8 closed, assigned to nobody

[2013-03-19 15:22] blackrim opened #18 "pull nexson trees from phylografter and add to graph"
need to be able to pull nexson trees from phylografter so they can be added to graph. this will be a server plugin.

[2013-03-22 18:14] josephwb opened #19 "Store jadetree metadata (from nexson) in graph"
Nexson trees successfully read in, including metadata. Need to add these properties to the graph.

[2013-03-22 21:43] #11 closed, assigned to josephwb

[2013-03-22 22:05] josephwb opened #20 "Nexson import of ot:dataDeposit property"
I fixed a problem NexsonReader.java had with reading in "@href" property values. Now it is stuck on "ot:dataDeposit". Specifically:

Exception in thread "main" java.lang.ClassCastException: java.lang.Long cannot be cast to java.lang.String

I don't have an example file with this field handy. I will try to get back to this in a few hours.

[2013-03-24 02:30] #20 closed, assigned to josephwb

[2013-03-27 13:03] blackrim opened #21 "deal with nexson otus that don't have ottol ids before adding to graph"
we need to be able to deal with these before they are added to the graph. The idea would be to
- TNRS the names that are there using taxomachine
  - For ones that match that weren't matched before, we can assign the ottol id
- For remaining names, if there are any, retrieve the scope determined by the TNRS
  - Add these remaining names as names subtending the scope name to the taxonomy WITHIN tree

[2013-04-02 15:10] josephwb opened #22 "java.lang.OutOfMemoryError with large phylografter tree import"
Tested [upgrade](https://github.com/OpenTreeOfLife/phylografter/pull/43#issuecomment-15769180) on treemachine end. Big studies (e.g. 438) coming through without hanging or timing out.

On treemachine end, currently have to up the memory (e.g. -Xmx2g) or suffer:

java.lang.OutOfMemoryError: Java heap space

Not sure if there is a leak, etc. Will look into this.

[2013-04-11 19:55] #21 closed, assigned to blackrim

[2013-04-11 19:55] #18 closed, assigned to blackrim

[2013-04-22 21:25] blackrim opened #23 "add source tree taxa to metadata node"
make sure that the original source tree taxa long array is added as a property to the metadata node.

[2013-04-23 18:48] #23 closed, assigned to nobody

[2013-04-24 17:35] chinchliff opened #24 "store metadata in SYNTHCHILDOF relationships"
- supporting phylografter study ids for each relationship

[2013-04-24 17:42] blackrim opened #25 "ingest treebase id into neo4j"

[2013-04-24 17:45] chinchliff opened #26 "make plugin to export JSON for argus to view the synthetic tree"
Things the plugin should export in the JSON
- phylografter study ids for studies support each relationship (ot:studyId)
- doi for study linkout (ot:studyPublication)
- treebase id for treebase linkout (ot:dataDeposit)

[2013-04-24 17:45] #25 closed, assigned to blackrim

[2013-04-26 14:01] #19 closed, assigned to josephwb

[2013-05-01 03:34] mtholder opened #27 "JSON string export - are we asking for trouble?"
We seem to just be composing JSON by hand, which is typically easy.  We could use something like: http://jettison.codehaus.org/apidocs/org/codehaus/jettison/json/JSONStringer.html

In many cases we know that the strings are safe for JSON (in which case it is probably faster to not check to see if we need to escape them). I may be the most guilty party here, as I just worked on spitting out metadat

[2013-05-01 14:30] mtholder opened #28 "should return the source tree's metadata when we ask for that tree"
I can try to work on this later today...

[2013-05-01 14:32] mtholder opened #29 "regression of getSourceTreeIDs service"
I'm getting HTTP error 500 from POST to  <domain>/db/data/ext/GoLS/graphdb/getSourceTreeIDs

I'm probably the culprit. I'll tackle it today...

[2013-05-08 21:11] #24 closed, assigned to chinchliff

[2013-05-09 14:06] chinchliff opened #30 "add node id to treeview arguson"

[2013-05-09 14:13] chinchliff opened #31 "Add taxonomy ids to the treeview arguson output"
From JAR: The taxonomy source info (NCBI id and/or GBIF id) has to be made part of the appropriate web service response i.e. when Argus asks treemachine for 'arguson' for a part of the tree to display. The info is already there as a property of the node, I believe, it just needs to be sent to Argus.

https://trello.com/card/treemachine-side-support-for-links-from-taxon-nodes-to-ncbi-and-or-gbif/4f

[2013-05-09 14:18] chinchliff opened #32 "Correct JSON export for arguson treeview plugins"
Currently this builds the JSON strings by hand and then double-JSON-izes them to export. We can correct this by defining RepresentationConverter methods that will serialize the JSON during export.

Not a high priority.

[2013-05-09 17:43] #31 closed, assigned to mtholder

[2013-05-09 17:46] #26 closed, assigned to mtholder

[2013-05-09 20:05] #30 closed, assigned to mtholder

[2013-05-16 16:14] chinchliff opened #33 "update synthesis filters to have explicit include/exclude"
Currently not an option. Functionally this is not much of limitation (just reverse the filter criteria), but the sake of clarity, we should require the filter direction to be explicit. Should be a minor change, but one that requires some architecting.

[2013-06-11 05:18] chinchliff opened #34 "Make service to return identifying info about current draft tree"
From Jim: "it would be great to have a simple treemachine service that just returns the latest ("current") synthetic tree id and its node id for 'life'"

[2013-06-11 13:27] josephwb opened #35 "Add ingroup node from nexson to jadetree"
Add [new nexson metadata property](https://github.com/OpenTreeOfLife/phylografter/commit/ce110fee4acb2d9dc85eacf54d56731a776d7e5d) (id ot:focalClade) to jadetree.

[2013-06-11 18:59] #34 closed, assigned to chinchliff

[2013-06-12 20:12] #15 closed, assigned to jar398

[2013-06-15 16:08] jimallman opened #36 "Many "isolated" taxa in treemachine (bad Lucene index?)"
There are currently lots of taxa that appear alone in argus -- no ancestors or descendant nodes, just one lonely dot. For example, search for Hominidae.

Most nodes close to the root (life) node are intact, eg,
http://dev.opentreeoflife.org/opentree/otol.draft.22@3103299/Metazoa-Monosiga-ovata

...but treemachine fails when retrieving a subtree for Chordata:
http://dev.opentreeoflife.org/opentree/

[2013-06-15 21:41] jzy3d opened #37 "Broken link to Treemachine Wiki in readme"
https://github.com/OpenTreeOfLife/opentree-treemachine/wiki
should be
https://github.com/OpenTreeOfLife/treemachine/wiki

[2013-06-19 18:42] #37 closed, assigned to nobody

[2013-06-26 20:01] #35 closed, assigned to josephwb

[2013-06-26 20:02] #22 closed, assigned to josephwb

[2013-06-27 18:39] josephwb opened #38 "Filter nexson trees"
Skip trees flagged as deprecated in the nexson passed from phylografter. Regards https://github.com/OpenTreeOfLife/phylografter/issues/64

[2013-06-29 19:39] jar398 opened #39 "Service to return list of the studies that were input to synthesis"
It would be useful to have a service that returns, given the name of a synthetic tree, the list of studies (and trees too) that contributed to it.

Applications:

(1) Provide feedback to curators, who are often left wondering which of their studies made the cut.

(2) Needed for credits page, so that we can make an accurate bibliography.  (DOIs would be useful for this purpose, but not essential si

[2013-07-09 21:50] jar398 opened #40 "Service to return list of the studies that were input to synthesis"
Need a table or JSON structure that has an entry for each study that was input to the synthesis of any tree in the graph db.

This is needed in order to generate a bibliography or 'credits' page for the web site.

Each entry needs at least the study id. If more information, such as the DOI, is handy, it would be convenient to have that as well. (Other information can be obtained from Crossref or P

[2013-07-09 22:32] jar398 opened #41 "Internal Server Error: More than one element in ..."
I'm getting errors from http://dev.opentreeoflife.org/opentree/argus/otol.draft.22@434521/Homininae
and others:

Whoops! The call to get the tree around a node did not work out the way we were hoping it would. Show details

[error] Internal Server Error

{ "message" : "More than one element in org.neo4j.index.impl.lucene.LuceneIndex$1@6bcca3da. First element is 'Node[3103424]' and the second eleme

[2013-07-09 22:53] #40 closed, assigned to nobody

[2013-07-11 18:35] jimallman opened #42 "Bad JSON for node Aves (due to un-encoded quotes in string value)"
Opentree web-app can't show Aves properly:

[code]

The error is from a string value (a study reference) with quotes in it, and they weren't properly encoded:

"S. J. Hackett, R. T. Kimball, S. Reddy, R. C. K. Bowie, E. L. Braun, M. J. Braun, J. L. Chojnowski, W. A. Cox, K.-L. Han, J. Harshman, C. J. Huddleston, B. D. Marks, K. J. Miglia, W. S. Moore, F. H. Sheldon, D. W. Steadman, C. C. Witt, T.

[2013-07-12 00:56] chinchliff opened #43 "Should ot:studyYear be stored as a Long (it seems like it should be an int)"
Is this correct? I had expected it to be an integer but I get ClassCastException errors when trying to cast it as an Integer; it says it is a Long.

For now I will treat this as a Long. It is easy to switch if it is changed to an integer (there is an enum).

[2013-07-12 18:16] chinchliff opened #44 "getSyntheticTree arguson wrapped in list"
This is mostly a question for Jim, I think.

The arguson from the getSyntheticTree service is wrapped in a list, but it seems like there is only one thing in that list, which is the entire rest of the json output. It looks something like this:

[
   { "name": "life", <other arguson data here> }
]

Is this correct? If it's just a fluke, I can easily change it now to not be contained in a list. Othe

[2013-07-12 18:46] #44 closed, assigned to jimallman

[2013-07-12 18:54] chinchliff opened #45 "What is contained in the "jsonprint" attached Objects for JadeNodes?"
I came across this when converting the json serialization methods. There is a passage in JadeNode.getJSON() method where an object called "jsonprint" that is attached to a JadeNode is concatenated onto the JSON as it is built. This code has been copied into the ArgusonRepresentationConverter.getArgusonRepresentationForJadeNode() method but is currently commented out, since it was not being added a

[2013-07-12 20:34] #41 closed, assigned to nobody

[2013-07-12 20:36] #42 closed, assigned to nobody

[2013-07-12 20:53] #27 closed, assigned to nobody

[2013-07-12 20:53] #5 closed, assigned to nobody

[2013-07-15 18:25] chinchliff opened #47 "Is the GetJsons plugin in treemachine obsolete?"
This class appears to be a relict of a code transfer with taxomachine, and contains services that appear to be entirely unused (and some only partially functional?). The corresponding services all exist within taxomachine, where they are functional.

If this class is obsolete then I will remove it from treemachine.

Also mentioned in #32.

[2013-07-15 18:28] chinchliff opened #48 "Correct JSON export for getStudyIngestMessagesForNexSON"
A service in the GoLS plugin class, used for exporting study readiness metadata.

Currently this class double-wraps a JSON string and exports it. It should serialize the JSON properly to avoid encoding problems and the need to post-process all the escaped characters.

One option is the RepresentationConverter classes.

This issue split off of #32.

[2013-07-15 18:29] #32 closed, assigned to chinchliff

[2013-07-23 15:32] josephwb opened #49 "Knuckles in extracted synthetic tree"
Synthetic tree retains "knuckles" or "knees" present in taxonomy. These are not handled by any analyses wanting to use the trees (although viewers like Dendroscope and FigTree can display them). For now, just use scripts to remove these. Eventually has as an export option.

[2013-08-06 04:26] leto opened #51 "Create Travis CI Config + Basic Tests"
This setup will use Maven to install the necessary dependencies and run some basic tests that verify treemachine compiles and isn't completely borked.

[2013-08-06 17:46] leto opened #52 "LICENSE file missing"
What is the license of treemachine?

[2013-09-24 17:34] josephwb opened #53 "Pruning overlapping tips"
A problem with pruning overlapping taxa. Occurs when an incompletely specified taxon (e.g. Foo sp.) is mapped to the genus, but other congeners are also present in the tree. In this case, we want to prune the taxon mapped to the genus, and retain all others.

Here is an example of how it shouldn't behave:

pgloadind     overlapping tips
pgloadind       overlapping retained name "Leiognathus" nexso

[2013-09-24 21:09] #53 closed, assigned to nobody

[2013-10-09 02:33] kortschak opened #54 "run_example.sh fails with java.util.NoSuchElementException"
This is from a clean installation according to the README. Suggestions?

[code]

[2013-10-09 14:14] mtholder opened #55 "Update README and provide an example script"
README and run_example.sh are out of date. They use old syntax for inittax and use addtree rather than addnexson.
See https://github.com/OpenTreeOfLife/treemachine/issues/54

[2013-10-09 15:54] #54 closed, assigned to nobody

[2013-10-09 15:55] #55 closed, assigned to blackrim

[2013-10-18 14:38] #43 closed, assigned to nobody

[2013-10-18 14:40] #38 closed, assigned to josephwb

[2013-10-18 14:43] josephwb opened #56 "Add boolean "remap" option to treemachine for pgloadind"
On loading of a study into treemachine via pgloadind, add option to disregard taxon mapping, thereby setting treemachine to try out mapping using the existing TNRS functionality.

[2013-10-18 15:24] josephwb opened #57 "Allow treemachine to accept "ot:ottolid" or "ot:ottId""
For compatibility of new and old nexson vocabularies.

[2013-10-18 16:52] #57 closed, assigned to nobody

[2014-01-03 03:33] jar398 opened #59 "Java MissingFormatArgumentException errors while doing run_asterales_example.py"
(previously sent in private email to Stephen)

I checked that JAVA_HOME is set. No improvement. I am running Java 7 on EC2 and Java 6 on Mac.

Here is the script:
# !/bin/bash
# Try to elicit bug

java -version

[ -d /System ] && export JAVA_HOME=/System/Library/Frameworks/JavaVM.framework/Versions/1.6/Home/

echo JAVA_HOME=$JAVA_HOME

rm -rf treemachine gcmdr
git clone git@github.com:OpenTreeOfLi

[2014-01-08 15:23] jar398 opened #60 "getDraftTreeID should default startingTaxonName to root node, not to "life""
Or maybe the _largest_ root node, if there are several. Or maybe to a node specified as part of the configuration of treemachine. The bottom line is that in the Asterales system, Asterales is the root node, not "life", so getDraftTreeID needs to return information about Asterales when the startingTaxonName is not specified in the call, not "life". This is not information that the front end should

[2014-01-17 16:44] chinchliff opened #61 "Add requisite metadata to getSourceTreeIDs service (or new service) for dumping to a documentation page"
Required for publication

[2014-02-25 19:17] #60 closed, assigned to nobody

[2014-03-04 17:08] jar398 opened #63 "Total number of tips or species for each arguson node"
It would be nice if each arguson internal node were annotated *not* with nleaves = number of leaves in the arguson tree but rather the total number of leaves in the synthetic tree below that node.

Looks like this would have to be captured in reconstructSourceTreeHelper, then propagated from the jade tree to the arguson tree on conversion. I don't see any purpose in the current 'nleaves' so that p

[2014-03-05 20:27] #59 closed, assigned to nobody

[2014-03-22 12:14] josephwb opened #67 "Better error reporting when using "justtrees""
@ruchiherself discovered an issue when running the command "justtrees":

[code]

The newick file "test.trees" was not in the working directory. Treemachine reports not reading any trees, but goes on ahead with creating the DB. Rather than reporting:

[code]

(an error that a user might miss, or otherwise might not think that it is a problem), treemachine should yell at the user, and stop _before_

[2014-03-22 23:18] josephwb opened #68 "Problem compiling (pom.xml)"
I re-cloned the treemachine repo and am having difficulties getting it compiled (mac 10.9.2). Here is my output:

[code]

So, a problem with "asm"?

When I delete asm from my directory:

[code]

(with the idea that asm was corrupted), and try to recompile, I get:

[code]

So, it seems that "asm" is indeed the problem; I get "Unable to get resource" and "CHECKSUM FAILED" errors. Note also the:

[co

[2014-03-24 20:53] #68 closed, assigned to nobody

[2014-03-24 21:16] #67 closed, assigned to josephwb

[2014-03-26 21:14] josephwb opened #69 "Problem connecting to server (jersey)"
When trying to "fixNamesFromTrees", we are getting a "PROBLEM CONNECTING TO SERVER" error:

[code]

As far as I know, the relevant code (https://github.com/OpenTreeOfLife/treemachine/blob/master/src/main/java/opentree/PhylografterConnector.java#L185-229) has not changed recently.

We were able to determine that the service itself is working through using curl:

[code]

[2014-03-28 14:38] #69 closed, assigned to nobody

[2014-04-04 14:11] josephwb opened #71 "Update NexsonReader to accept updated nexson format"
The recent [update](https://github.com/OpenTreeOfLife/phylografter/issues/103) to the exported nexson from phylografter cannot be read into treemachine. NexsonReader needs to be updated.

[2014-04-04 19:31] #71 closed, assigned to josephwb

[2014-04-15 18:41] josephwb opened #72 "Lingering use of "ottol" in getBipartSupport"
There seems to be a lingering use of "ottol" in [getBipartSupport](https://github.com/OpenTreeOfLife/treemachine/blob/master/src/main/java/opentree/GraphExplorer.java#L416-419). I have never used this, and don't want to change things at the moment if it will break things.

[2014-04-15 19:06] josephwb opened #73 "Add ottId to exported newick strings"
Adding ottIds to taxon names ensures that each leaf label is unique, and therefore can be opened in software packages that expect that characteristic.

[2014-04-21 19:15] #73 closed, assigned to josephwb

[2014-04-21 19:28] #56 closed, assigned to josephwb

[2014-04-21 20:35] #52 closed, assigned to nobody

[2014-04-21 20:39] jar398 opened #74 "Add tree ids to arguson in web services"
The study ids and metadata are good, but for some really cool user interface features we have in mind the tree ids are necessary as well. Discussed during the 21 April 2014 software hangout.

[2014-04-21 20:59] jar398 opened #75 "Add a service to return the MRCA in the taxonomy of a set of taxa"
Add a service to return the OTT id (and name) of the MRCA in the taxonomy of a set of taxa (given as their OTT ids). For use by sanity-checking feature in the curator app.

[2014-04-24 14:45] jar398 opened #76 "Remove apostrophes from Newick strings"
On processing the big-tree Newick file, Brigitte Boeckmann reports the following:

at least 1 (I think 2) OTU name includes " ' ", which was unexpected for at least 1 tool

There are indeed many apostrophes in the taxonomy. I know treemachine converts many special characters to something benign. Apostrophe should be added to that list.

We may also want to do the same with non-ASCII Unicode charac

[2014-04-24 15:05] jar398 opened #77 "Add a service to return a minimal subtree whose tips are a given set of nodes"
I think most people would want to provide these as OTT ids (coming out of the TNRS), but I suppose internal graphdb node ids would make sense too.

See https://trello.com/c/fd2lr60r/48-extract-subtree-from-synthetic-tree-given-taxon-list. Being requested by Quest for Orthologs project.

[2014-04-30 18:02] #76 closed, assigned to josephwb

[2014-05-16 14:55] mtholder opened #78 "Are the 60 grouping in the synthetic tree without a source tree evidence of a bug?"
Gordon and Ruchi reported (in their TreeOfLife_InformationSupport.docx in the https://drive.google.com/folderview?id=0B3yKYQFpnM_LQWRIY3UzQy01dVk&usp=sharing synthesis_paper folder) 60 groupings in the synthetic tree that do not appear to be backed by any source tree.

I know that this happens with many supertree methods (so it is not necessarily a problem *per se*). However, I thought (based on a

[2014-05-16 15:05] mtholder opened #79 "Does treemachine treat a polytomy in a tree of "high priority" as a hard polytomy?"
Gordon and Ruchi reported (in their TreeOfLife_InformationSupport.docx in the https://drive.google.com/folderview?id=0B3yKYQFpnM_LQWRIY3UzQy01dVk&usp=sharing synthesis_paper folder) what appear to be cases in which synthetic tree returns a polytomy, but there are groupings in a source tree that could resolve them:

"Most input trees have very low ATE values with respect to the tree of life, but so

[2014-05-20 14:33] josephwb opened #80 "Specify version of OTT used in treemachine"
Attach this as a property during the initial DB creation (`inittaxa`).

[2014-05-20 17:18] chinchliff opened #81 "Add upper node limit to subtree service"
Once we have the number of descendant tips stored in the graph (#63), we should implement a size limit for the subtree query.

[2014-05-20 17:25] #33 closed, assigned to chinchliff

[2014-05-20 17:26] #9 closed, assigned to chinchliff

[2014-05-20 17:31] #45 closed, assigned to nobody

[2014-05-20 18:55] #47 closed, assigned to chinchliff

[2014-05-20 19:24] chinchliff opened #82 "Create service to return information about source trees that conflict with the monophyly of a given node"
Accepts an ott id, and returns a list of conflicting source trees. Perhaps also return a list of source trees that do not conflict (or "support" it, if this is different from "do no conflict")?

[2014-05-20 19:43] chinchliff opened #83 "Service to test input tree against draft synthesis tree"
A "color test" -- align an input tree to the draft tree and return information about how the input tree overlaps/conflicts with the draft tree. This will be valuable for users during curation to identify potential problems with OTU mapping and also to assess the significance of the tree.

Not clear what the results should look like. Lists of overlapping/conflicting nodes? A labeled newick tree? Bo

[2014-05-20 19:44] chinchliff opened #84 "Service to test input tree against taxonomy"
Map an input tree to the taxonomy and return information about mapped nodes. Result should probably be the input tree, with node labels that correspond to the taxa to which each node maps. This is a "carrot" as well as a useful tool for curators to identify problems with OTU mapping.

[2014-05-20 19:52] chinchliff opened #85 "Report the commit SHA for the NEXSoN during study import"

[2014-05-20 19:59] chinchliff opened #86 "Create JSON dump of important info used in the generation of the draft tree"
Essentially this should contain everything Ruchi asked for, and also any additional information that might be relevant. This data will be recorded for posterity with publication of the draft tree.

See #85, which should be included in this dump.

[2014-05-20 20:58] #80 closed, assigned to josephwb

[2014-05-21 00:53] #85 closed, assigned to blackrim

[2014-05-27 05:37] temi opened #88 "treemachine server plugin: hardcoded values"
branch: master
head: 825f57574282a65bdfc6fc5072091e4d6ddae380

file:  treemachine/src/main/java/opentree/PhylografterConnector.java
In treemachine neo4j plugin, phylografter link is hard coded to 'http://www.reelab.net/phylografter.....'. Is it possible to have it called from a configuration file?

file: treemachine/src/main/java/opentree/plugins/PhylografterUpdater.java
Also, it seems to me calls

[2014-05-27 05:53] temi opened #89 "treemachine commandline: treeID not incrementing"
branch: master
head: 825f57574282a65bdfc6fc5072091e4d6ddae380

It looks like adding trees via commandline is not updating treeID properly. After adding the trees, a call to getSourceTreeIDs via REST API returned an array of treeIDs but all had ID set to 1. I used Stephen's DEMO_run_birds_example.sh script to upload trees to neo4j.

[2014-05-28 17:44] chinchliff opened #90 "Index non-taxon nodes in the synthetic tree by pairs of ott ids"
We need a way to identify nodes in the synthetic tree that do not have ott ids. Currently, we use neo4j node ids, but these are not stable (even within a single neo4j database they can be recycled). So we have proposed to index the non-taxon nodes by (arbitrary) pairs of descendant ott ids, and return these pairs instead of neo4j node ids for the relevant queries. This will still not be entirely s

[2014-05-28 17:47] #77 closed, assigned to chinchliff

[2014-05-29 01:25] #51 closed, assigned to mtholder

[2014-05-29 01:47] mtholder opened #91 "Add "current" or "latest" as an alias for the latest synthetic tree in any web service that takes a treeId argument"
as discussed on today's call, this would make it easier to write non-fragile documentation and tests.

[2014-05-29 01:49] mtholder opened #92 "Does getNodeIDForottId need a treeId argument?"
It seems like different versions of the synthetic tree might map the same ottId to different nodes, so we'd need a treeId (unless we say "this function only returns nodes that are part of the synthetic tree, and we will only ever host one version of the synthetic tree in a db").

[2014-06-04 00:07] jar398 opened #93 "draftTreeName should be incremented each time the tree changes"
Even if there's only one tree in the db, we still need versioning, just to stay sane. At least I think so. And as another issue says there should be an alias that is fixed for all versions but refers to the current version.

curl -X "POST" -d "{}" -H "Content-type: application/json" http://api.opentreeoflife.org/treemachine/ext/GoLS/graphdb/getDraftTreeID
{
  "startNodeOTTId" : 93302,
  "draftTree

[2014-06-05 19:49] jimallman opened #94 "Broken arguson (node.children) when fetching synth-tree"
This should show the problem:

[code]

[2014-06-09 21:59] #94 closed, assigned to chinchliff

[2014-06-10 20:28] josephwb opened #95 "Make draft tree ID arg optional for getSyntheticTree"
Regards plugin [getSyntheticTree](https://github.com/OpenTreeOfLife/treemachine/blob/master/src/main/java/opentree/plugins/GoLS.java#L325). Change to default to the most current synthetic tree, which is what is currently in the [documentation](https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs).

[2014-06-10 20:31] #95 closed, assigned to josephwb

[2014-06-10 22:59] mtholder opened #96 "If we're going to use maven, we probably need to change version numbers when the code changes"
I think that at least part of our epic struggles to deploy oti today were caused by all of the jar's having version 0.0.0a. So maven thinks that it can use its cache. That or our pom files in oti are not correct.

[2014-06-11 20:06] josephwb opened #97 "justtrees broke"
Breaking on simple examples that recently worked. Both with incomplete taxon overlap:

[code]

and complete overlap:

[code]

Error (for the former) is:

[code]

[2014-06-11 20:33] #97 closed, assigned to nobody

[2014-06-12 17:33] jar398 opened #98 "Need a service that explains why a taxon isn't in the synthetic tree"
See https://groups.google.com/forum/#!topic/opentreeoflife-software/raWZ7hSfUpI .
The argument to the service call would be an OTT id, e.g. as returned by TNRS. Result would be - I'm not sure, we need to decide this. If the taxon was determined paraphyletic, the result could be e.g. a list of studies that conflict with the monophyly of that node. If missing for some other reason, such as the taxon

[2014-06-13 00:10] jimallman opened #99 "Do we need prefixed study IDs in getSynthesisSourceList?"
@blackrim: The Bibliographic References page on devtree is broken, i.e., no list appears. This is because we're now getting a mix of prefixed and bare (numeric) study ids from the API methods used to construct this list. This one provides ids like ```244_3855```:
[code]
...while this one provides **ot:studyId** properties like ```pg_303```:
[code]

How can both types of IDs be right? Wasn't the po

[2014-06-17 16:32] jar398 opened #100 "A service that provides a taxon's or clade's lineage would be nice"
That is, given a taxon or node id, what are all the nodes from there to the root, with taxon ids for those nodes that have them.

I have in mind using this for testing, but I imagine it could also be of use to hackathon participants.

Wouldn't hurt for such a call to also provide node metadata, although I don't see that required for testing purposes.

[2014-06-17 16:35] #36 closed, assigned to blackrim

[2014-06-19 13:36] kcranston opened #101 "automatically post newick versions of synthesis tree"
We are having issues with http://files.opentreeoflife.org/other/curnewicks/ getting out of date. Can we automatically generate the newick string and post that to the page, along with the generated date and / or version number? See https://github.com/OpenTreeOfLife/feedback/issues/40

[2014-06-19 16:01] josephwb opened #102 "Set default node for getSyntheticTree curl call"
Currently, if no `subtreeNodeID` is provided, no tree is returned. Change this to default to the root of the synthetic tree.

[2014-06-19 19:18] #102 closed, assigned to josephwb

[2014-06-19 19:19] chinchliff opened #103 "in getSyntheticTree, the subtreeNodeID parameter should be a Long, not a string"
Node ids are long integers, and there is no good reason for this to be a string. Having it as a string introduces error-prone and bug inducing casts and conditionals (responsible for several hours of debugging today). However, converting to a long will require coordinating with @jimallman to make sure the webapp doesn't keep trying to send strings.

[2014-06-20 20:14] josephwb opened #104 "Send gzipped JSONs?"
Working on the R package. Getting synth trees via ```getSyntheticTree``` plugin can take a while. As worked with the similar [Phylografter] (https://github.com/OpenTreeOfLife/phylografter/pull/44) issue, it might behoove us to (optionally) send compressed data. I will look into this.

[2014-07-08 18:48] #96 closed, assigned to nobody

[2014-07-08 18:51] #93 closed, assigned to nobody

[2014-07-11 01:42] jar398 opened #105 "Back-end support for synthesis metrics"
See notes from Monday's software hangout (7 July 2014).
Discuss here.

[2014-07-15 14:28] jimallman opened #107 "Use taxon exemplars if specified in NexSONthe '^ot:isTaxonExemplar'"
In situations where multiple OTUs in a tree are mapped to a single taxon, we now have the means for a curator to mark a chosen taxon exemplar (using the '^ot:isTaxonExemplar' tag). Treemachine should take advantage of this instead of making an arbitrary choice.

[2014-07-16 21:30] #75 closed, assigned to chinchliff

[2014-07-28 00:00] jar398 opened #108 "Branch length of 1.0E-22 ?"
When I do extract subtree I get something like this:

(Oblongichytrium_sp_PBS08_ott694411:1.0E-22,Oblongichytrium_sp_SEK_347_ott363215:1.0E-22,Oblongichytrium_sp_PBS02_ott865989:1.0E-22,Oblongichytrium_sp_HK9_ott834552:1.0E-22,Oblongichytrium_sp_TN6_ott834550:1.0E-22,Thraustochytriidae_sp_8-7_ott4026478:1.0E-22,Thraustochytriidae_sp_Lsl2_ott4026477:1.0E-22,Thraustochytriidae_sp_PW19_ott4026466:1.0

[2014-07-28 14:07] josephwb opened #109 "inittax fails if input taxaonomy has trailing empty rows"
If the TSV taxonomy file has trailing empty rows, treemachine aborts with the following error:

[code]

Pretty easy to fix, low priority.

[2014-07-28 14:36] #109 closed, assigned to josephwb

[2014-07-28 17:19] josephwb opened #110 "Service to return version of taxonomy used to initialize graph"
Self-explanatory. Code exists, just need to make it a service.

[2014-07-28 17:40] #110 closed, assigned to josephwb

[2014-07-28 22:53] jimallman opened #111 "Confusing results from getDraftTreeMRCAForNodes service"
(See related issue #75 for intended use cases and expected values.)

@chinchliff, @mtholder, @josephwb: We're seeing odd results from the MRCA test in trees in the **Cavia** release (tree.opentreeoflife.org as of July 28, 2014). The curation app seems to be constructing proper requests, so I believe these are issues with the `getDraftTreeMRCAForNodes` service, or perhaps a conflict between the tax

[2014-08-14 19:29] josephwb opened #112 "Getting treemachine to work from scratch is annoying (dependencies)"
Working with a new user, and getting/installing TM has been a huge pain.

The README does not mention dependencies, which includes getting [ot-base](https://github.com/OpenTreeOfLife/ot-base), which first requires [jade](https://github.com/FePhyFoFum/jade).

I will make the README files more clear, but it would be much more convenient to put everything into a single install script.

[2014-08-22 20:03] #111 closed, assigned to nobody

[2014-08-27 18:50] #88 closed, assigned to nobody

[2014-08-27 21:27] #108 closed, assigned to nobody

[2014-08-28 08:48] #28 closed, assigned to mtholder

[2014-09-02 16:04] #101 closed, assigned to nobody

[2014-09-05 15:06] jar398 opened #113 "How can one find out which version of the synthetic tree is there?"
It would be nice if there were a service that told you something that would help identify the synthetic tree, such as the date on which it was prepared. I suppose any old metadata could be used to distinguish one version from another, but date of synthesis is probably the most useful piece of information.

[2014-09-12 02:21] #103 closed, assigned to josephwb

[2014-09-13 01:20] #100 closed, assigned to josephwb

[2014-09-13 01:24] #113 closed, assigned to nobody

[2014-09-13 01:31] #89 closed, assigned to nobody

[2014-09-13 01:53] #81 closed, assigned to nobody

[2014-09-13 02:55] #112 closed, assigned to nobody

[2014-09-16 12:50] josephwb opened #121 "Bug with tree_of_life/induced_tree"
There is a bug where if one query node is the parent of another, e.g.:

[code]

[code]

Here, `Stellula_ott501678` (genus) is sister to its descendant `Stellula_calliope_ott536234` (species) in the returned tree.

Pretty easy check. The question: should 1) an error be returned, or 2) prune the deeper (ancestor) node(s) and return as much of the tree as we can?

As @arlin and @kcranston (and others

[2014-09-16 18:47] jar398 opened #122 "Support tree ids containing underscores"
Looking at the source code for tree id parsing it looks like it doesn't support tree ids that contain underscores. Since these are legal in nexml, we should support them.

I think tree ids like ot__9 will also be mishandled although as you say these are unlikely to find they way into treemachine.

[2014-09-17 07:11] mtholder opened #123 "production machine not returning git_sha"
this may be an artifact of deployment before a code change.
When I call

     curl -X POST -H "Content-Type":"application/json" -H "Accept":"application/json" http://api.opentreeoflife.org/v2/tree_of_life/about

I get back entries like:
    {
    "study_id" : "2849",
    "git_sha" : "",
    "tree_id" : "6615"
}

Note the lack of `pg_` in the study_id and the empty SHA. Calling graph/source_tree th

[2014-09-17 13:53] josephwb opened #124 "Providing a git_SHA seems pointless for graph/source_tree"
Raised by @karolisr.

This argument seems silly, since this particular graph DB will only ever have one version of the source tree. We should remove this as a required argument (it will still be possible to find the desired tree). Agree @mtholder @kcranston @chinchliff @jar398?

However, ```study_id``` and ```tree_id``` are necessary (there may be more than one tree from a given study).

[2014-09-17 15:41] josephwb opened #125 "Consistent naming of variables in plugin services"
Currently, the service ```graph/source_tree``` returns a variable called ```"newick"```. However, the service ```tree_of_life/induced_subtree``` returns ```"subtree"```, while ```tree_of_life/subtree``` returns ```"newick"```. Since we do not yet support alternate formats for these services, they should probably all return the same variable name.

[2014-09-17 19:08] josephwb opened #126 "Not useful return value in graph/node_info"
(Amongst a slew of other things) The service ```graph/node_info``` returns a boolean ```in_graph```, indicating whether a ott/node id is found in the graph DB. However, if no match is found, an error is returned (e.g. for an invalid node id):
[code]
So, this is either ```true``` (i.e. the node is in the graph), or it is not returned at all (and instead an error is returned). So, useless.

[2014-09-17 20:30] josephwb opened #127 "Error in reconstructed newick string"
When attempting the call to ```graph/source_tree``` an invalid newick string is being returned:
[code]
[code]
which includes:

...((Psittacidae_1020130:1.0E-22 **,(:1.0E-22,** (Psittacus_332937:0.044181,...

[2014-09-18 11:18] mtholder opened #128 "tree_id arg resulting in error"
[code]

gives an error:

[code]

Omitting the tree_id works, but the returned tree id is "otol.draft.22"

I don't understand why it is rejecting the correct (if superfluous) tree_id

[2014-09-18 13:44] #128 closed, assigned to nobody

[2014-09-18 16:02] arlin opened #130 "array out of bounds & empty stack trace for induced_subtree request with 159 ids"
I'm getting an array out-of-bounds error with an empty stack trace.  The json return and the exact command are given below.  This has nothing to do with curl--  I can run the same thing in DHC (chrome extension) and I get the same error.  The command is not poorly formed-- I can cut out the latter half of the ids and it works. This has only 159 ids which is not over the limit.

{
"exception":"Arra

[2014-09-18 20:29] chinchliff opened #131 "Consistent taxon labels between treemachine and taxomachine"
Taxon labels should have equivalent formatting options between these two repos. I have added some options to the taxomachine subtree method for label formatting. Would be good for them to be mirrored in treemachine. See https://github.com/OpenTreeOfLife/taxomachine/issues/74.

See the following taxomachine code for a reference to the options.
https://github.com/OpenTreeOfLife/taxomachine/blob/taxo

[2014-09-19 13:08] josephwb opened #132 "Should graph/node_info accept a vector of nodes?"
Probably.

[2014-09-19 15:59] josephwb opened #133 "Need a simple service to get a nodeID from an ottID"
Should take in a vector of ottIDs.

[2014-09-24 15:50] chinchliff opened #135 "Wish list for tests"
Just some brainstorming about some unit tests we may want for treemachine:

Bad input should cause exceptions:
* unrecognized ott id throws TaxonNotFoundException
* unrecognized tree id throws TreeNotFoundException
* failed tree import throws TreeIngestNotFoundException (if there isn't a more specific exception that can be thrown)
* searching by taxon name for homonym taxa throws AmbiguousTaxonExc

[2014-09-26 01:35] jar398 opened #138 "trouble with draftTreeRootNodeId"
I'm getting the following from GoLS.getSyntheticTree in the asterales system:

Whoops! The call to get the tree around a node did not work out the way we were hoping it would. Show details

[error] Internal Server Error

{ "message" : "For input string: \"Expecting value: line 1 column 1 (char 0)\"", "exception" : "NumberFormatException", "fullname" : "java.lang.NumberFormatException", "stacktrace

[2014-09-26 14:05] #138 closed, assigned to nobody

[2014-09-28 16:19] jar398 opened #139 "Deal with dependencies of test scripts"
See https://github.com/OpenTreeOfLife/taxomachine/issues/79

[2014-09-28 16:26] jar398 opened #140 "Failing tests on devapi: IndexOutOfBoundsException and two others"
[code]

[2014-09-28 22:30] jar398 opened #141 "Fencepost error in induced_subtree"
For inputs {"ott_ids":[901642, 5503]}
{
  "error" : "Not enough valid node or ott ids provided to construct a subtree (there must be at least two).",
  "ott_ids_not_in_tree" : [ ],
  "ott_ids_not_in_graph" : [ 5503 ],
  "node_ids_not_in_graph" : [ ],
  "node_ids_not_in_tree" : [ ]
}

There _are_ two. My guess is that there is a > 2 where there ought to be a >= 2.

[2014-09-28 22:31] #141 closed, assigned to nobody

[2014-09-28 22:42] jar398 opened #142 "For graph/source_tree, can the commit sha be made optional?"
I don't want to have to revise tests every time a study sha changes. I'm OK with changing it if the source tree to be tested stops belonging to the synthetic tree, but not on every change to the study.

Best solution: make it optional, and return the version of the tree that was found in the graph (along with its study's sha). Less good solution: I guess I can get the study list and look up the sh

[2014-10-01 13:54] jar398 opened #143 "Tree ids don't work with phylesystem API methods"
If you do an 'about' call to get the tree list (which oddly is called a study_list):

curl -X POST http://api.opentreeoflife.org/v2/tree_of_life/about -H "content-type:application/json"  -d '{"study_list":true}'
...
  }, {
    "study_id" : "pg_754",
    "git_sha" : "a2c48df995ddc9fd208986c3d4225112550c8452",
    "tree_id" : "1392"
  }, {
...

and then try to fetch the tree using phylesystem, it fa

[2014-10-01 22:07] josephwb opened #144 "tree_of_life/mrca fails if given a single node"
A newly introduced bug.

[2014-10-01 22:13] #144 closed, assigned to josephwb

[2014-10-17 21:20] #121 closed, assigned to josephwb

[2014-11-21 14:18] jar398 opened #146 "mvn_serverplugins.sh should be executable"
The file should have the executable bit set. It used to, but the bit got cleared in the repo.

[2014-11-28 10:44] mtholder opened #147 "Need documentation of how we munge names in newick export"
I'd still vote for not munging the names, but if we do continue this we should explain it to users.

I think that the relevant code is:
    https://github.com/OpenTreeOfLife/ot-base/blob/master/src/main/java/org/opentree/utils/GeneralUtils.java

I think that the explanation now is that we create "TAXONNAME_ottOTTID" as the label, then use normal newick escaping rules except:

   A.  all colons are

[2014-12-10 14:23] mtholder opened #148 "clarify mrca web service docs on the issue of MRTA"
Currently it says the `nearest_taxon...` properties refer to the most recent taxonomic ancestor which is "the closest taxonomic node to the MRCA node in the synthetic tree"

It is really "the closest taxonomic node to the MRCA node in the synthetic tree as one moves towards the root" right? (it will always be the smallest taxon that encompasses the query, not just the "closest" node).

perhaps the

[2014-12-10 21:01] mtholder opened #149 "clarify the meaning of num_synth_children in the return value of graph_of_life/node_info"
It seems like it is always equal to the `num_tips` property. I'd expect `num_tips` to be the number of leaves below the node, and `num_synth_children` to be the number of children of the node (which are child nodes in the synthetic tree).

[2015-01-11 03:26] jar398 commented on #39
Looks like this one got done:
https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs#about_tree
I'll close the issue.

[2015-01-11 03:26] #39 closed

[2015-01-13 17:19] kcranston opened #150 "Modify subtree and induced_subtree methods to include supporting info"
These methods should, by default, also return the list of inputs that contributed to the subtree.
* for each tree: study id, tree id, commit SHA, DOI

We probably also want to include a list of input taxonomies.

[2015-01-20 23:04] mtholder opened #151 "non-taxonomic node with out-degree=1"
I'm not sure how/why this happens, but note that:
   https://tree.opentreeoflife.org/opentree/otol.draft.22@3864282
has only one child and the node is not from a taxonomy.

Can we suppress these?

It causes some weirdness in the UI. @jimallman may want to look at the "Edge to parent null" in the properties panel

[2015-01-21 13:20] snacktavish commented on #78
Not sure if this is related, but there are some (at least one) unnamed nodes with out-degree 1 (e.g. https://tree.opentreeoflife.org/opentree/otol.draft.22@3864282) that it seems might be creating edges in Ruchi's list of conflicts.
It looks like the node could be coming from taxonomy, (Eubrachyura), which is consistent with a phylogeny ranked highly in synthesis, pg _6227
![6227](https://cloud.gi

[2015-01-21 15:07] snacktavish commented on #127
It seems that often the source trees returned are not legal newick:

e.g. this one has two pairs of duplicated tips (Schizophrys_aspera_308484 and Menaethius_monoceros_308482; I'm not sure why that would be, not duplicated in original tree, https://tree.opentreeoflife.org/curator/study/view/pg_1336/?tab=trees&tree=tree2660)
[code]

and this one has an empty node label
[code]

[2015-01-21 15:18] josephwb commented on #127
There certainly is some bug here. But I think we decided that people should not try to get source trees from treemachine (using phylesystem instead), didn't we? Should this service be removed (i.e. #wontfix)?

[2015-01-21 15:22] mtholder commented on #127
but treemachine prunes some leaves when ingesting a tree.
If we don't supply this service, how can anyone tell what the precise phylogenetic input was interpreted to be?

[2015-01-21 15:24] snacktavish commented on #127
Yeah, there is some oddness happening in later (e.g. with the duplicated tip labels) that isn't present in phylesystem, which makes it worthwhile to get them directly out of tree machine.

[2015-01-21 15:25] snacktavish commented on #151
I commented on this problem over here as well: https://github.com/OpenTreeOfLife/treemachine/issues/78

[2015-01-21 15:32] josephwb commented on #127
Things get hairy with that code when the graph is full of trees (e.g. multiple LICAs); this is where the bug lies.

What I can do locally is load them into an empty graph (well, just taxonomy), it does the pruning (unmapped, duplicated taxa), and writes the labelled newick. This is part of gcmdr; we don't use the treemachine service.

Is this something that is needed right away? I can look at tree

[2015-01-21 15:42] mtholder commented on #127
no. I haven't checked them all, but I just checked pg_2682_6227.tre  and it does not have an empty node.

[2015-01-21 15:43] mtholder commented on #127
sorry "no" meant "no i don't see such errors"
that is fine as a workaround, so I'd say that fixing the bug service is not needed right away.
thanks.

[2015-01-21 15:44] snacktavish commented on #127
The duplicated tips issue in pg_1336_2660 does not appear in the tree from graph commander either.

[2015-01-21 15:55] mtholder commented on #127
just noting that implementing this service by:
   1. storing the gcmdr output in a flat file on the server (one file per tree)
   2. returning that content (or a 404) rather than traversing the tree
would be fast (and help with my concerns expressed in https://github.com/OpenTreeOfLife/opentree/issues/558)

It would require some deployment (and possible gcmdr) tweaks.

[2015-01-23 19:52] jar398 opened #152 "Ensure web services work before committing to master"
api.opentreeoflife.org was working fine when running commit 567e1ee.

Upgraded to b262f55 and the web services stopped working.

Downgraded to 567e1ee and they started working again.

 ../../germinator/test.sh api.opentreeoflife.org
*** Failed: tree_of_life/about {"study_list":false} root_ott_id
{
  "message" : "No such ServerPlugin: \"tree_of_life\"",
  "exception" : "PluginLookupException",
  "f

[2015-01-23 19:53] jimallman commented on #152
Specifically, the GoLS plugin seems to go missing in the latest version.

[2015-01-23 19:58] josephwb commented on #152
How is that possible? I just put up a script unrelated to treemachine code. [GoLS](https://github.com/OpenTreeOfLife/treemachine/tree/master/src/main/java/opentree/plugins) hasn't been touched in 4 months.

[2015-01-23 20:01] josephwb commented on #152
Oh, I think this has something to do with GraphExporter.java.

[2015-01-23 20:04] jimallman commented on #152
Maybe something from [this recent commit?](https://github.com/OpenTreeOfLife/treemachine/commit/66decab40ea659ce7023ee58a287a4acf6b3c8c8#diff-0)

[2015-01-23 20:08] josephwb commented on #152
Actually, I don't believe GraphExporter.java is involved in any way. In fact, none of the changes look relevant. Could this just be a failure to compile?

[2015-01-23 20:28] josephwb commented on #152
I can compile and run the plugin locally.

[2015-01-23 20:32] josephwb commented on #152
Test:
[code]
[code]

[2015-01-23 20:47] jimallman commented on #152
It's several plugins, actually. Here's what we saw on api.opentreeoflife.org with the latest code:
[code]
[code]
And again, with the older (working) code:
[code]
[code]

[2015-01-23 20:49] josephwb commented on #152
I've got all of those with the newest code locally. I don't think this is a treemachine issue.

[2015-01-23 21:10] josephwb commented on #152
I pushed the new code to devapi, and things work fine:
[code]
[code]

[2015-01-23 21:33] jimallman commented on #152
OK, I decided to roll the dice and re-deploy all master branches to **api** (production). All plugins now appear and it's working in my testing, as well as the tests here: http://phylo.bio.ku.edu/status/status.html

I'm looking for clues in the neo4j log files, specifically ```ot20:/home/opentree/neo4j-treemachine/data/log/console.log```. This  shows all plugins loading most of the time, but two r

[2015-01-25 08:05] mtholder opened #153 "prune empty higher taxa that are only coming from OTT, perhaps?"
https://tree.opentreeoflife.org/opentree/otol.draft.22@3074177/Artiodactyla
has no children. I think that they all went into Cetartiodactyla (I haven't checked that, I just know that modern analyses support cetaceans in what used to be called artiodactyla)

I made an issue for getting OTT fixed.

But I wonder if it is worth pruning off taxa that come only from the taxonomy, when:
   1. they are hi

[2015-01-25 14:11] josephwb commented on #153
Treemachine relies upon flags from ```ott``` to remove taxa. It seems "Artiodactyla" has no valid children, so it should have the appropriate flag for removal.

BTW, treemachine does not retain taxa who have lost all descendants due to phylogeny; these should never appear in the synthetic tree.

We could do some sort of relevant check of the incoming taxonomy for empty taxa, but this really seems

[2015-01-26 12:09] mtholder commented on #151
If you grab a version of NCL after today (after https://github.com/mtholder/ncl/commit/596c5a66e9ec9e304711a997f455d8000b8276b1 technically speaking), then you can build a run a tool to check for cases of unnamed nodes with out-degree equal to 1 using;

   make
   ./example/outdeg1count/outdeg1count -frelaxedphyliptree  draftversion2.tre 2>status >output

the `output` that I get is:

    ancestor

[2015-01-26 12:10] mtholder commented on #151
if you want to jump to the most striking example of this, checkout https://devtree.opentreeoflife.org/opentree/argus/otol.draft.22@3843724
(from the series of ancestors listed above for the taxon "Barnebyella")

[2015-01-26 14:27] mtholder commented on #147
It looks like (for at least the draftversion2.tre newick) the decision about whether to quote is made before the substitution of _ for punctuation. So some labels like `Fibrobacteres/Acidobacteria group`  get converted to `'Fibrobacteres_Acidbacteria_group'` with single quotes (even though we don't quote tokens with _ as the only odd character in other contexts).

[2015-01-26 15:30] josephwb commented on #147
mtholder: for some reason, ```"/"``` got put in the "newick-illegal" list. I'll fx that.

[2015-01-26 16:15] jar398 commented on #147
​This should probably be fixed, for the same of invertibility... or is
invertibility a lost cause?

[2015-01-26 16:15] josephwb commented on #147
Submitted a [PR fix](https://github.com/OpenTreeOfLife/ot-base/pull/12) for the quote error above.

[2015-01-26 20:42] mtholder commented on #147
invertibility is not a lost cause in terms of regenerating the real OTT name from the newick/nexus.

We can encode and string in newick or nexus.

There are often 2 legal syntaxes in those formats for any string (a quoted form and an unquoted form).  One can't reliably predict which of the two forms will be used (without looking at the code). So you can't go:
newick -> internal representation -> n

[2015-01-27 10:53] mtholder opened #154 "incorrect association of a node in the synthetic tree: wrong taxonomic node"
https://tree.opentreeoflife.org/opentree/argus/otol.draft.22@860705/Halicnemia
shows up labelled as Halicnemia_ott776728 but it actually has the taxonomic composition of the taxonomic parent: Heteroxyidae_ott668403
see curl calls below.

requesting the genus:

    $ curl -X POST -H "Content-Type":"application/json" -H "Accept":"application/json" http://api.opentreeoflife.org/v2/taxonomy/subtree --

[2015-01-27 12:41] mtholder commented on #154
From a new pull from NCL and then running:

    $ example/check-taxo-nodes/checktaxonnodes -frelaxedphyliptree ../../draftversion2.tre ../Taxonomy.tre >out 2>err

I find 22 cases of named internal nodes in the synthetic tree with leaf sets that differ from the definition of that name in OTT:

    ott1026107
    ott103935
    ott1051412
    ott172860
    ott197414
    ott2840942
    ott327448
    o

[2015-01-27 13:14] mtholder commented on #154
Looks like 19 are cases of getting a taxonomic content of a node in OTT but matching the wrong name:

        Found identical leaf sets for the synthetic tree "Chlamydiales ott966429" and the taxonomic node "Chlamydiae ott370886".
        Found identical leaf sets for the synthetic tree "Acidobacteria ott1051412" and the taxonomic node "Acidobacteria sup ott952528".
        Found identical leaf se

[2015-01-27 13:47] mtholder commented on #154
I just confirmed that `Mycale_titubans_ott403492` is not in https://tree.opentreeoflife.org/opentree/argus/ottol@1026107/Mycale-genus-ncbi-86015-in-family-Mycalidae-

The taxonomy has no name for a subgroup of `Mycale_ott1026107` which excluded only `Mycale_titubans_ott403492`

So this could be a different bug than the one described earlier in the thread involving `Heteroxyidae_ott668403`.

We may

[2015-01-27 21:09] mtholder commented on #78
My (not very well tested) code found 5 groupings in the synthetic tree for which I cannot find an edge/path in a source tree that supports them.

See the Results section below

It would be great if @ruchiherself could take a look at the results below, and send two descendants that are sufficient to identify any other problematic nodes (if we use the descendants in an MRCA query).

I don't understa

[2015-01-29 07:49] mtholder opened #155 "edge properties: distinguish between "supported by" and "traversed by" when referring to studies for an edge"
I think that when an edge in the synthetic tree is traversed by a study, we list the study as supporting that edge. but if the edge is trivial in the study, then we should not refer to that as support.
We could say that such an edge is "covered by" or "traversed by" or "included in" the study.

An example is the edge leading to [Biserrula](https://devtree.opentreeoflife.org/opentree/otol.draft.22@

[2015-01-29 08:45] mtholder commented on #78
I have a list of tips that can serve as MRCA designators for problem cases from @ruchiherself (thanks!)
Those are at: https://www.dropbox.com/sh/lnmcr208fk9gr1v/AACMTAetXqLMrUdcnsk2qea8a/trees-in-synth/problem-mrcas-from-ruchi.txt?dl=0

I *think* that the code base that she is using is to generate this list is https://github.com/ruchiherself/AssessSupertrees

[2015-01-29 09:15] mtholder commented on #78
The smallest (and therefore most promising for debugging) weirdness is the case of [synthetic tree of life node 3846500](https://devtree.opentreeoflife.org/opentree/otol.draft.22@3846500/Asterolinon-adoense--Anagallis-monelli)

The problematic grouping is:

    (Asterolinon_adoense_ott671286,(Anagallis_arvensis_subsp_arvensis_ott644217,Anagallis_monelli_ott671287))

Treemachine services list [pg_5

[2015-01-29 09:58] mtholder commented on #78
**Note** I had the wrong "other" study using *Lysimachia* in the previous comment. I fixed it by editing that comment. the link is https://devtree.opentreeoflife.org/curator/study/view/pg_2661?tab=trees&tree=tree6198

[2015-01-29 14:54] mtholder commented on #78
OK there were some bugs in my script (primarily an early exit that caused the list of unsupported nodes to be cropped, but also a bug that cause the support to be inflated).  My code is on the "ot" branch of NCL.
The findunsupportededges example app (if it is functioning correctly) confirms the 54 cases that Ruchi reported which involve nodes with out-degree > 1.

I may or may not be finding the n

[2015-01-29 18:00] ruchiherself commented on #78
When we started this discussion a week ago the focus was primarily on
whether it is possible to have unsupported nodes in the synthetic tree. So
it wasn't really that important to count how many such nodes are there. I
tried to get to the bottom of it today.

Following Wilkinson et al. (2005), an internal node (or grouping) 'v' of
the synthetic tree is in *support*, *conflict*, *permit, *or
*irrel

[2015-01-29 18:31] mtholder commented on #78
Some pairs of designators appear multiple times because they are referring to nodes with out degree = 1.
See https://devtree.opentreeoflife.org/opentree/otol.draft.22@3856216/Simochromis
that is the node that my code refers to as "4 node(s) before MRCA of "Simochromis ott710023" and "Limnotilapia ott303029"'

Its daughter is the "3 node(s) before ...

[2015-01-29 19:04] ruchiherself commented on #78
The synthetic tree which I received from Joseph had a lot of special
characters. My C/C++ program couldn't run on that file without deleting all
of them. Did you also do the same? I just uploaded a synthetic tree file
("OpenTree1.tre") and taxonomy file ("Taxonomy1.tre") in our shared folder.
Can you please run your method on these files? I am curious!

On Thu, Jan 29, 2015 at 12:32 PM, Mark T. Ho

[2015-01-29 19:46] mtholder commented on #78
just ran it again @ruchiherself . It only changed  a taxon label in the first line error report. no other differences from using the other files. thanks.

[2015-01-29 23:26] ruchiherself commented on #78
I checked first 5 "Novel" nodes. Results are as follows:

1) Novel unsupported node ancestor 0 node(s) before MRCA of "Trichodesmium
ott196997" and "Lyngbya ott878838"
   It is included in the list of 87 nodes. (It wasn't there in the 56
nodes.)

2) Novel unsupported node ancestor 0 node(s) before MRCA of "Disciphania
ott550889" and "Calycocarpum ott124729"
   This is root node ("cellular_organism

[2015-01-30 09:03] mtholder commented on #78
I don't understand why my software is claiming the MRCA "Disciphania
ott550889" and "Fibraurea ott477318" is a problem. I'll look into that. Thanks.

The MRCA for cases 2 is https://tree.opentreeoflife.org/opentree/argus/otol.draft.22@3840209
for case 4 it is https://tree.opentreeoflife.org/opentree/argus/otol.draft.22@3840206
Neither is the root of the tree.

I'll start a new issue for the proble

[2015-01-30 13:08] mtholder opened #156 "111 groupings in synthetic tree that are not supported by any input source tree"
## Background
Issue https://github.com/OpenTreeOfLife/treemachine/issues/78 started because @ruchiherself's code identified cases in which a grouping in the synthetic tree conflicted with every tree in the input set. The definition of conflict is discussed in the ["Conflict between trees and taxonomies" section of the supplemental material](https://docs.google.com/document/d/1qq9VZccfPMG9Xic0wmp5B

[2015-01-30 13:42] blackrim commented on #156
Just to be clear, tree6165 does support that (Aspidocarya + Parabaena) +
(Tinomiscium + Tinospora) grouping with Calycocarpum though (those are all
sampled in tree6165). So that isn't one of the unsupported nodes is it?
Unless I am missing something there.

There were some others that were pointed out in the previous emails that I
will check up on. Cody may need to explain how we place the non
mon

[2015-01-30 14:17] mtholder commented on #156
But that source tree (6165) has *Calycocarpum* as sister to a group containing *Aspidocarya*, *Parabaena*, *Tinomiscium*, *Tinospora* but also *Orthogynium*.

In the synthetic tree,  *Orthogynium* attachs well outside (https://tree.opentreeoflife.org/opentree/argus/otol.draft.22@3573300/Orthogynium)  of this group. Which is why my `findunsupportednodes` does not give that tree credit for supportin

[2015-01-30 15:40] blackrim commented on #156
OK. This one looks to me like it is likely a non monophyly thing. I will
check on that. The sentence needs to be deleted from the response to
reviewers anyway because i am pretty sure with the nonmonophyly (regardless
of whether this is a case of that) there are edges added but Cody will need
to chime in on that (I will ask him to if he doesn't and I see him in a
bit).

On Fri, Jan 30, 2015 at 9:1

[2015-01-30 16:04] mtholder commented on #156
I think *Orthogynium* is a monotypic taxon.

[2015-01-30 16:12] ruchiherself commented on #78
The MRCA for case 2 & 4 is the root of the synthetic tree. It has 2339460
leaves under, that's the total number of leaves in the synthetic tree. Does
the newick string which I shared with you shows it's not a root?

Case 5: Novel unsupported node ancestor 0 node(s) before MRCA of
"Sphenocentrum ott576456" and "Kolobopetalum ott522768"
   This node is labeled
"bacterium_enrichment_culture_clone_R4-

[2015-01-30 16:25] blackrim commented on #156
Yeah, I don't mean within that group I mean within the Menispermoideae

On Fri, Jan 30, 2015 at 11:04 AM, Mark T. Holder <notifications@github.com>
wrote:

[2015-01-30 16:26] blackrim commented on #156
Or within the Menispermaceae rather

On Fri, Jan 30, 2015 at 11:25 AM, Stephen Smith <blackrim@gmail.com> wrote:

[2015-01-30 17:04] mtholder commented on #156
I don't understand what you mean by "it is likely a non monophyly thing."

Menispermaceae is not a tip label in any of the input trees. So I don't understand how it being non-monophyletic is different from other cases of conflict between different sources of phylogenetic information.

Could you or @chinchliff  or @josephwb confirm that the 3 numbered points that I list above are a correct characte

[2015-01-30 17:05] ruchiherself commented on #78
6) Novel unsupported node ancestor 0 node(s) before MRCA of "Penianthus
ott628586" and "Kolobopetalum ott522768"
   This is root node, it has 2339460 leaves under it.

7) Novel unsupported node ancestor 0 node(s) before MRCA of "Burasaia
ott698917" and "Kolobopetalum ott522768"
   Root node again.

8) Novel unsupported node ancestor 0 node(s) before MRCA of "Cucumis
rumphianus ott313891" and "Cucu

[2015-01-30 17:29] ruchiherself commented on #156
Mark, I want to add something here. For our input (taxonomy + 484 other
trees) your definition of 'unsupported' and my definition for unsupported
are (probably) the same. The example under "Differences from what Ruchi's
code is calculating." is correct. But remember we have taxonomy in the
input. Both synthetic tree and taxonomy are of the same size (# of leaves)
and taxonomy can never compute 'ir

[2015-01-30 17:33] mtholder commented on #78
Hi @ruchiherself
case 2 is the MRCA of "Disciphania ott550889" and "Calycocarpum ott124729" both of those are plants. In fact you can see them on the same screen at https://tree.opentreeoflife.org/opentree/argus/otol.draft.22@3840209
They do not span the root in the newick that you sent me. It is hard for me to trim out the relevant portion. but you can search for one in vim and see the other not

[2015-01-30 19:26] mtholder commented on #156
Ruchi, you are correct that we have the full taxonomy, but it is highly unresolved. You can easily expand the case that I gave earlier. Consider:

    S = (A, (B, (C, D)))

from 3 inputs:

    t_1 = (A, (B, C))
    t_2 = (A, (B, D))
    t_3 = (A, (B, C, D))

I think that your code would say that the `(C, D)` group is irrelevant wrt the first 2 trees, and permitted by the third. So not "in conflict

[2015-01-30 19:47] ruchiherself commented on #156
My 87 nodes include this case too. I am counting all those nodes that have
0 support, but may have permit, conflict, or irrelevant from all the input
trees.

In your example, (C,D) group will get irrelevant from first two input trees
and permit from the last input tree as you said. So for (C,D)
group, support = 0, permit = 1, conflict = 0, and irrelevant = 2. So (C,D)
group must be in my list sinc

[2015-01-30 20:13] mtholder commented on #156
Ah. I see. thanks for clarifying.  But I think that our codes would diverge on:

    S = (A, (B, (C, D)))

from 4 inputs:

    t_1 = (A, (B, C))
    t_2 = (A, (B, D))
    t_3 = (A, (C, D))
    t_4 = (A, (B, C, D))

My code would call still call the `(C,D)` clade "unsupported" because none of the inputs say that `C` is closer to `D` than it is to `B`

[2015-01-30 20:18] ruchiherself commented on #78
My code had some difficulty in finding the right MRCA for internal nodes;
providing leaf nodes (at
http://phylo.bio.ku.edu/ot/findunsupportededges-out.txt) was great help.
I looked at cases 2,3, and 4 again.

2) Novel unsupported node MRCA of "Disciphania lobata ott477320" and
"Calycocarpum lyonii ott124731"
   It gets 1 support, 1 permit, and 1 conflict (rest irrelevant). It's
supported by pg_264

[2015-01-30 20:28] ruchiherself commented on #156
Wait...but your initial definition of "unsupported" doesn't approve of
that.

------------------
*Unsupported:* When I say that a group/node/edge in the synthetic tree is
"unsupported" in this thread, I mean: If we were to collapse this group
into its parent, then the total Robinson-Foulds symmetrict distance (RF)
between the synthetic tree and the set of inputs would not change.
----------------

[2015-01-30 20:46] mtholder commented on #156
good point. I should have said that the RF distance stays the same or decreases. So the unresolved form of the synthetic tree is at least as good as the resolved form when there is an "unsupported" node.

Sorry for the confusion.

[2015-01-30 20:54] mtholder commented on #156
I hadn't been thinking of unresolved inputs clearly when I wrote this issue report.
What I should have said was:

By "unsupported" I mean that if we collapse the edge, the RF distance for the restricted synthetic tree to **each** of the source trees is unchanged or decreases.

my code doesn't calculate the total RF. It just tries to find (for every edge in the synthetic tree) at least 1 input tree

[2015-01-30 22:08] mtholder commented on #78
Note that I addressed why my code considers case 2 to be unsupported. Quoting from https://github.com/OpenTreeOfLife/treemachine/issues/156 :

"This difference in evaluation explains why my software classifies this group to be unsupported, while Ruchi's code considers pg_2644_6164.tre to support it. The source tree does indeed have a grouping of (Aspidocarya + Parabaena) + (Tinomiscium + Tinospora

[2015-01-30 23:18] ruchiherself commented on #156
I think I understand it now. It's different from my count. I declare
support for a node in the synthetic tree, if there is at least one tree in
the input that has an identical clade (after restricting of course). But
Mark's definition finds support for a node in the synthetic tree if the RF
distance from at least one input tree goes up after collapsing this node. I
think the RF distance for only t

[2015-01-31 09:12] mtholder opened #157 "synthesis issue: only using mrca taxa from an edge ("relationship" in neo4j lingo) rather than node"
I just pushed https://github.com/OpenTreeOfLife/treemachine/tree/issue-157 with some very simple examples to help debug https://github.com/OpenTreeOfLife/treemachine/issues/156

But I'm not getting the tree that one would hope for when I run:

    $ run-simpleprob-example-diff-order-synth.sh

and look a the result in `simpleprob-diff-order-out/synth.tre`

The inputs have not conflict and there is

[2015-01-31 09:13] mtholder commented on #157
or I could have messed up my inputs (in `simpleprob` dir). But I don't see the error...

[2015-01-31 16:16] mtholder commented on #157
To explain this test case...

The only thing that the taxonomy says is that there is a genus `E`. The taxonomic tree is `(A,B,C,D,(E1,E2)E)`

The first tree is `(((A,B),C),D)` this is input `tree1.tre` and it is the tree that I (tried to) give highest priority to in `run-simpleprob-example-diff-order-synth.sh`. Clearly this tree says nothing about `E`

The second tree (which is in `tree2.tre`) is

[2015-01-31 16:47] mtholder commented on #157
Outputs of each treemachine step are stored in `simpleprob-diff-order` for the `run-simpleprob-example-diff-order-synth.sh`.

From looking at `simpleprob-diff-order/synthesize.log` it looks like the odd tree is returned because the synthesis starts at the root node. Based on that it decides that the 3 branches emanating from the root should be:

  1. `D` this makes sense

  2. the mrca node 11 whi

[2015-01-31 17:24] blackrim commented on #157
I think it would be good if Cody also piped in because he knows a good
amount about the synth algorithm. Nevertheless, I don't disagree that your
example presents an interesting problem for synth. Basically coming out of
the root there are these potential nodes for synth

11 - from tree1
13 - from tree2
and then the individual taxonomy ones
as you mention, it goes breadth first and so E is added h

[2015-01-31 17:44] blackrim commented on #157
Confirmed that the reason E is still added is because of the relationsihp
mrca being checked (from tree 1 ) instead of the node. That isn't
necessarily an error and we would need to bring Cody in on this (he wrote
that code : RankResolutionMethod and the other resolution methods). when
you relax that however, it doesn't give the tree you want anyway because it
gets to node 10 and goes with tree 1

[2015-01-31 18:41] chinchliff commented on #157
Hi Mark. I agree, those sound like some issues. The current synthesis
method is very simplistic and clearly has some room for improvement. Some
of the problems you mentioned may have solutions within the context of the
current method, but it might make more sense to try and think about
designing a better way to do synthesis overall.

The code is designed to be modular so we can easily swap out a d

[2015-01-31 18:45] blackrim commented on #157
Yeah, I agree. I think this sounds like a new conflictresolution (the
folder in the code) method that is simply less simplistic. We will need to
work out what the rules are though (things like more taxa subtending
doesn't work because of taxonomy nodes, perhaps more resolution subtending
along with rank). Right now the rank only is just very very simple.

On Sat, Jan 31, 2015 at 1:41 PM, Cody Hinc

[2015-01-31 21:07] kcranston commented on #157
So, it seems that synthesis is working differently that at least some of us expect. I would have also expected  `((((A,(E1,E2)),B),C),D)` as the synthetic tree. It is probably ok that it works differently, but we need to make sure 1. we can clearly articulate what is happening and 2. that we aren't making statement in the paper or in the properties pane of the web application (i.e. tree X 'support

[2015-02-01 01:59] blackrim commented on #157
Here is the diagram of what is going on (attached). It is basically
traversing the blue relationships. It understands that the green are not in
conflict, that isn't a problem. It just prefers the blue. This isn't an
error in that sense. It is traversing the preferred tree in order of
ranking. It could just be doing some of this smarter (as we have mentioned
a number of times, improving synth metho

[2015-02-01 02:49] kcranston commented on #157
I don't see the attachment?

[2015-02-01 02:53] blackrim commented on #157
Hm, here it is again.

On Sat, Jan 31, 2015 at 9:49 PM, Karen Cranston <notifications@github.com>
wrote:

[2015-02-01 02:59] kcranston commented on #157
I don't think it works to reply to the email notification with an attached file. You can drag and drop an image via GitHub, though.

[2015-02-01 03:47] kcranston commented on #157
Pasting in the file from @blackrim
![example_tm](https://cloud.githubusercontent.com/assets/312034/5990892/7e9f10e6-a997-11e4-83c4-f10aa639cc3a.png)

If `((E2,E1)E,D,(C,(B,A)))` is the tree that results when the order of preference is blue (tree1) > green (tree2) > black (taxonomy), then I think we need to re-think how we are explaining the method in the paper. Would the edge from E to the root sh

[2015-02-01 04:13] blackrim commented on #157
If would show as taxonomy.  Not sure why the that would be strange though.
On Jan 31, 2015 10:47 PM, "Karen Cranston" <notifications@github.com> wrote:

[2015-02-01 08:44] mtholder opened #158 "edges corresponding to trivial phylogenetic statements considered conflict"
This was discussed on https://github.com/OpenTreeOfLife/treemachine/issues/157 along with another issue.

Just noting that I created an example branch https://github.com/OpenTreeOfLife/treemachine/tree/issue-158

The test script is `run-trivialconf-prob.sh`

[2015-02-01 09:24] mtholder commented on #158
For the benefit of those who don't want to run the example. The inputs (in ranked order) are:

    tree1 (A,B)
    tree2 ((A,E),B)
    taxonomy (A,B,E)

The tree that is a perfect summary of all 3 trees is tree2 `((A,E),B)`

The TAG creates 2 internal nodes: `n1` is the root, `n7` is the MRCA of `A` and `B`.

The synthesis chooses the edge `rel11` attaching `A` to the root, because that is in the

[2015-02-01 09:32] mtholder commented on #158
I think that a viable solution would be to (in pseudocode):

    incoming_edges = find_incoming_TAG_edges(node)
    incoming_edges.sort(criterion=highest_ranked_trees_first)
    accepted = []
    for edge in incoming_edges:
        if count_descendant_tips(edge) > 1:
              if conflicts_with_accepted(edge, accepted):
                   log_rejection_of_edge(edge)
              else:

[2015-02-01 10:04] mtholder commented on #157
housekeeping notes: I changed the name of the issue to be more informative.  I also just pushed a `run-reltaxa-example.sh` to the https://github.com/OpenTreeOfLife/treemachine/tree/issue-157 branch. It is the example from this thread pruning off `E1`, `E2`, and `D` from the examples (in tree2, `E` is used instead of `E1). I think that we should still discuss the `run-simpleprob-example-diff-order-

[2015-02-01 10:21] mtholder commented on #157
@blackrim can you tell me what tool you use to make that graph? - it is very helpful (fortunately I could steal my daughter's colored markers to make one of my own, but it was tedious.)  Thanks also for pointing me to the RankResoloutionMethod. It would have taken me a long time to find that.

The TAG paper says: "At each node, the procedure examines the subtending nodes, and determines if any of

[2015-02-01 11:15] mtholder commented on #157
So, I commented out the filtering down to just the list of descendants from the relationship.  I think this works at one stage, but that `E` is not added to the tree because of https://github.com/OpenTreeOfLife/treemachine/issues/158

`E` is subsequently grafted back on at the root of the tree. I haven't looked for the code that does that. The output from the synthesis is:

    Results of conflict

[2015-02-01 11:16] mtholder commented on #157
I should have mentioned that I tested this change on the RankNodeDesResolutionMethod branch that I just pushed.

[2015-02-01 11:50] blackrim commented on #158
Yes,  we have a branch and bound synth that solves this but doesn't scale
for the whole tol and didn't follow the use case of most of the trees
added.  However I am not sure if that method made it into the newer modular
bit that Cody constructed after the paper. I will check and can demo when I
find it

On Feb 1, 2015 4:24 AM, "Mark T. Holder" <notifications@github.com> wrote:

(in ranked order) a

[2015-02-01 11:55] blackrim commented on #157
Cool, well check out in a bit.  Also, just noting here something I
mentioned in the other issue.  We constructed a branch and bound ( though
really mostly branch) synth that also is discussed in the paper and deals
with this issue nicely.  It simply doesn't scale well with the many
millions nodes.  It is in the code and can be switched on however for the
big tree perhaps your solution will work be

[2015-02-01 12:41] blackrim commented on #157
The branch (and bound) method that I mentioned that addresses this problem
is in there both in the conflict resolution folder and explorer in graph
synthesis function. I am tracking down the main so I can do your example
and will push that. However it uses very old code and doesn't seem to have
been brought up to some of the newer classes that Cody wrote.  I don't
think it is worth it to do that a

[2015-02-01 15:06] blackrim commented on #157
yeah, so something was broken with the graphsynthesis method when things
were moved to the new system that isn't letting me do the branch and bound
without the justtrees bit (that was the bit in the paper). i will see if i
can fix that real quick but it won't address doing this at a larger scale.

On Sun, Feb 1, 2015 at 7:41 AM, Stephen Smith <blackrim@gmail.com> wrote:

[2015-02-01 19:06] chinchliff commented on #158
I think it's in there but I don't know if it's functional. We weren't using
it at that point so I wasn't testing it as things were changed around it.
The code is still in there though.

On Sunday, February 1, 2015, Stephen Smith <notifications@github.com> wrote:

[2015-02-01 19:11] blackrim commented on #158
Yeah, I played around with it some and it seems like it doesn't work any
more (the underlying code sure works but it is looking at the wrong
information and needs to be updated). I can check on that.

On Sun, Feb 1, 2015 at 2:06 PM, Cody Hinchliff <notifications@github.com>
wrote:

[2015-02-02 12:16] mtholder commented on #157
some more formalized discussion of the effects of this "relationship taxa" conflict detection are at https://github.com/OpenTreeOfLife/treemachine/blob/nonsense-1/nonsense/sted_support_theorem.md

[2015-02-03 10:24] mtholder commented on #158
The pseudocode I wrote is implemented in https://github.com/OpenTreeOfLife/treemachine/commit/54fcad1e2bd72d20986f586cbab14d8e04832165 and this fixes this particular issue.

I have not checked for ugly side effects of this change, though.
Note: in that commit RankNontrivialNodeDesResolutionMethod.java is identical (other than in name) to RankNodeDesResolutionMethod.java.
The logic for checking for

[2015-02-03 10:33] mtholder commented on #157
As hoped, It looks like https://github.com/OpenTreeOfLife/treemachine/commit/54fcad1e2bd72d20986f586cbab14d8e04832165 also fixes this issue.
Still need to write more tests to make sure this isn't breaking other logic.

[2015-02-03 14:31] mtholder opened #159 "edges corresponding to compatible phylogenetic statements considered conflict"
As feared, the simplistic fix (in commit https://github.com/OpenTreeOfLife/treemachine/commit/54fcad1e2bd72d20986f586cbab14d8e0483216 )
which fixes https://github.com/OpenTreeOfLife/treemachine/issues/158 and https://github.com/OpenTreeOfLife/treemachine/issues/157 does not alleviate issues with compatible groupings.

The test that is failing now is `nontrivialaugmenting` on https://github.com/Ope

[2015-02-03 14:34] blackrim commented on #159
Joseph and I spoke about this this morning and I am going to try a branch
and bound like thing that may alleviate the compatible groupings bit.

As for the set that is interesting. That can't be causing the problem but
it is wasting space (and should be not happening because of the set bit).
Will check on where a set needs to be added to save some space.

On Tue, Feb 3, 2015 at 9:31 AM, Mark T. Ho

[2015-02-03 14:37] mtholder commented on #159
I should have pointed out that https://github.com/OpenTreeOfLife/treemachine/blob/avoid-trivial-conf/test-synth/nontrivialaugmenting/README.md describes the test.

The synthesis is returning: `(F,D,(C,(B,(E,A))))`

[2015-02-03 17:31] blackrim commented on #159
OK, yeah, this seems along the lines of what Joseph and I talked about this
morning. Are you going to try for an implementation? I have a little more
class prep to do today and then have some time to do things if you haven't
already.

On Tue, Feb 3, 2015 at 11:32 AM, Mark T. Holder <notifications@github.com>
wrote:

[2015-02-03 17:36] mtholder commented on #159
I have just barely started - but I'm really slow with neo4j stuff. I think that it makes sense for you to guys to push ahead and for me to try. duplicated effort is not a major concern, imho.

[2015-02-03 17:39] blackrim commented on #159
sounds good. will do

On Tue, Feb 3, 2015 at 12:36 PM, Mark T. Holder <notifications@github.com>
wrote:

[2015-02-03 21:23] mtholder commented on #159
I think that some of the changes I made earlier today are responsible for the dups in the mrca array.

[2015-02-03 21:25] mtholder commented on #159
I think that some of the changes I made earlier today are responsible for the dups in the mrca array.  I'm about to call it an evening. I need to clean up the duplication, and I don't have a fix for this issue yet. But I think I'm fairly close to having one - not terribly pretty or efficient. but we might be able to turn it in to something usable. I'll push it as mth-broken in case someone wants t

[2015-02-03 21:26] blackrim commented on #159
That would be great. I am going to be taking a look in about 30 min when I
finish up something here.

On Tue, Feb 3, 2015 at 4:25 PM, Mark T. Holder <notifications@github.com>
wrote:

[2015-02-03 21:30] mtholder commented on #159
pushed. the commit message refers to some clean up from subsumed messages but I forgot to mention where. That would be in RankOrSubsumedResolutionMethod.java method `addNonConflictingOrSubsumed` which is called from `resolveConflicts`.

[2015-02-03 21:33] blackrim commented on #159
OK, will check out this one and see what I can make of it and run some
tests. thanks!

On Tue, Feb 3, 2015 at 4:30 PM, Mark T. Holder <notifications@github.com>
wrote:

[2015-02-04 03:03] blackrim commented on #159
Familiarizing myself with the code you wrote. Some of the vocabulary is
tripping me up a bit (trivial and nontrivial...) but I added some
System.outs to help me see where the test was failing.
In commit 02bf29373f337506f2b78e3242570af2e7009991 I changed the
if (tem.size() > 0)
to
if (tem.size() >= 0)
in expander of SynthesisExpander. That fixes the test with the others still
working. However, it w

[2015-02-04 05:47] mtholder commented on #159
I just pushed a version that reverts the `tem.size() > 0` but culls the duplicate descendants at an earlier stage. So the test passes again. Now when run with asserts enabled it will crash if there are duplications of a taxon node from multiple relationships - rather than pruning the duplicates.
The 3 tests in the test-synth dir are passing.

[2015-02-04 11:31] mtholder opened #160 "where should taxa contributed by a lower ranked tree go when there is conflict?"
I put this new example on: https://github.com/OpenTreeOfLife/treemachine/tree/use-edges-of-lower-tree-when-compat Just copying the README here in case we delete that branch:

This is designed as an extension of nontrivialaugmenting. Here tree2 has some agreement with tree1, but also conflict with it

Tree1 is once again much less complete:

    (((A,B),C),D)

tree2 is:

    (((((A,E),C),B),F),D)

[2015-02-04 14:10] mtholder commented on #160
Well, this one appears to be a bit of a blocker. It looks like either:
   1. the TAG alignment needs to be tweaked so that `n10` and `n14` align, OR
   2. the synthesis steps need to perform sophisticated traversals and application of phylogenetic logic to realize that you can do things like `n3 → n12 → n9` to satisfy both relationship `r33` and `r20`. Another example would be `n10 → n15 → n1` to

[2015-02-04 14:15] blackrim commented on #160
I am teaching for a good chunk of the day but joseph and cody should be on
this soon (if not already). we can see what we can come up with.

when joseph and I had spoken before, I was thinking we would have to do #2
before this example came up. Basically just walk the source tree,
generating the phylo statements and then see if the alternative
relationships satisfy that. Anyway, perhaps another so

[2015-02-04 15:14] mtholder opened #161 "question about edges to licas during TAG creation."
no need to respond to this if it makes sense to you. I can look through the code. Just thought I'd post it because I found it surprising.
There is a new test (and I refactored the test harness some to put the output of tests in the testtag dir). That is pushed to https://github.com/OpenTreeOfLife/treemachine/tree/test-refactor

The new test is `ranksforextras` and its tree1 and tree3 are identical

[2015-02-04 18:05] mtholder commented on #161
the second figure from is https://github.com/OpenTreeOfLife/treemachine/tree/test-refactor/test-synth/ranksforextras

[2015-02-04 18:05] josephwb commented on #161
tree1: (((A,B),C),D);
tree2: ((A,B),((E,F),C));
tree3: ((((A,E),B),F),C);

[2015-02-04 18:55] kcranston commented on #161
When I draw this out, I agree with Mark about n9 == n17, i.e. mrca(tree3,(A,E,B)) and mrca(tree1,(A,B)) should be the same node.

[2015-02-04 19:57] blackrim commented on #161
This should be alleviated with deleting the trees and re-adding them. We
know that tree order matters in input and deleting and re inputting is the
way around that. This is default for many of the analyses (discussed by
Cody and Jonathan the other day). The commands for that are java blahblah
pgdelind graphdblocation sourcename
then you add again and should be mapped to both of the lica nodes. Jos

[2015-02-04 20:33] mtholder commented on #161
calling pgdelind and addnewick to remap seems to help:

![reprocess](https://cloud.githubusercontent.com/assets/136067/6049154/78f957ca-acb5-11e4-9e74-5463b25198d3.png)

thanks for the help.

[2015-02-04 20:33] #161 closed

[2015-02-05 20:58] jar398 opened #162 "Less logging, more timestamps, please"
The treemachine console.log on ot20 (production) was 300+ Mbyte. This seems a bit excessive.

I've put a sample (tail -10000) here:
http://mumble.net/~jar/tmp/console.tail

It would be useful to have timestamps, so we can match Java logging output to apache logs and get a hint at usage patterns.

Thanks

[2015-02-05 21:07] jar398 commented on #162
data/graph.db/messages.log is also 300M.

[2015-02-06 13:04] josephwb commented on #153
Closing this for now, as it can be solved on the taxonomy side.

[2015-02-06 13:04] #153 closed

[2015-02-06 13:37] josephwb commented on #162
From @jar398 on IRC (for my own notes):
____________
08:34 I think I would put: timestamp, arguments, nonce on call; then timestamp, nonce on return  - the nonce being anything that could be used to match call and return, maybe a short unique id (counter) or even the first timestamp then if there’s a call without a return, we’ve nailed it

[2015-02-06 14:24] jar398 commented on #153
It's not quite so simple. If you want smasher to prune the tree for you,
then this is fairly easy, although it will require new code. But if you
want to take the flags and decide for yourself what to do with them, it
won't work in general. Consider a taxon T with children A B C ... that are
to be hidden for taxonomy purposes *for different reasons*. Smasher doesn't
know which will be hidden and wh

[2015-02-06 15:30] josephwb commented on #153
At the moment, treemachine simply trusts that the taxonomy you are supplying is what you indeed want (possibly pruned using supplied flags).

Are we certain that no one will ever intentionally supply a higher taxon with no descendants? What if someone is working on extinct taxa, say, dinosaurs? A Family or Genus may be a terminal taxon in the taxonomy.

I am of the mind that treemachine should rem

[2015-02-06 16:09] jar398 opened #163 "Subtree methods need to return source references"
When someone uses the API to get phylogenetic information such as a subtree or subtended tree, it's important to relay the sources of that information, so that they can (a) check it (b) learn more (c) cite it. Sources are also important as for us to acknowledge the contribution (with gratitude).

This should be done compatibly, either with new methods returning both the tree and the sources, with

[2015-02-06 16:23] josephwb commented on #163
So, any source that touches any node in the returned tree? Source X may support one node in the returned tree, but reject a bunch of others. This could be confusing. For example, a microbes tree may disagree with the rooting of metazoa, but because it agrees with some trivial terminal clade it will be returned as a source for the whole tree.

Or am I making this harder than it should be? Just a li

[2015-02-06 16:26] josephwb commented on #163
Alternatively, node-specific suppporting sources is possible, but could become a large file...

[2015-02-06 16:31] josephwb commented on #163
Just to make it more complicated: are we interested in sources that support *actual* edges in the returned tree (i.e. source passes through both the parent and child node)? For sparse trees, there may be *no* such supporting sources (well, maybe taxonomy).

[2015-02-07 18:51] blackrim opened #164 "node lica problem"
There seems to be a bug where if the third tree is loaded first, node AB|E is created and the first tree node ABC|D doesn't augment that node to be ABC|DE. This does occur when the first tree is loaded first.
((a,b,c),d);
((a,b,d),c);
((a,b),e);

[2015-02-07 19:36] blackrim commented on #164
This is resolved with this fix a084c05. It was one line where we had a strict matching criterion of having all children for the incoming tree requiring a match to the lica node. This caused this behavior. By removing that requirement, it resolves the directionality of the lica mapping (for this example).

[2015-02-07 19:36] #164 closed

[2015-02-07 19:36] blackrim commented on #164
With more testing, this can be pulled or just redone in master.

[2015-02-08 00:41] jar398 commented on #153
Let me be more explicit. Suppose A has children B and C. Suppose B is
flagged X (e.g. extinct) and C is flagged Y (e.g. barren). The user
(synthesis) might want to keep X-flagged taxa and flush Y-flagged taxa, or
vice versa, or keep or flush both. Smasher doesn't know which. If it's
both, then A is empty and should get suppressed - that's what happens if B
and C are both flagged extinct. If synthe

[2015-02-08 00:43] jar398 commented on #163
What are we doing now for arguson?

On Fri, Feb 6, 2015 at 11:31 AM, Joseph W. Brown <notifications@github.com>
wrote:

[2015-02-10 16:54] jar398 commented on #163
The idea is this: Any tree that's returned constitutes a set of claims
about how evolution happened. The custom in science is to back up one's
claims either with evidence or with a citation. So what are the
publications that back up the claims? It's only necessary to give a
sufficient set, not an exhaustive set. And yes, if taxonomy is all we have,
that is what we say backs up the claims.

Edges a

[2015-02-10 18:59] jimallman commented on #104
FYI, I believe this is will be satisfied by the [proposed caching of getSyntheticTree results in web2py](https://github.com/OpenTreeOfLife/opentree/pull/591). Hopefully we can merge and deploy this later in the week.

[2015-02-10 21:46] josephwb commented on #162
@jar398 How does this look?
[code]

[2015-02-10 23:56] jar398 commented on #162
This looks great - can you summarize what it was doing before that
generated so much output, for comparison? I suspect that only logging
requests will result in a large reduction, but I didn't know what it was
doing before so can't be certain.

On Tue, Feb 10, 2015 at 4:46 PM, Joseph W. Brown <notifications@github.com>
wrote:

[2015-02-11 00:43] josephwb commented on #162
Apparently anything that prints to ```System.out``` gets logged in ```"console.log"```. This is stuff we (very verbosely) print to screen when using the command line. Since the plugins use the same code, that was what was causing the huge log files.

[2015-02-17 13:20] kcranston commented on #150
This is a duplicate of issue #163 . Closing.

[2015-02-17 13:20] #150 closed

[2015-02-18 10:28] snacktavish opened #166 "Mapping tips to deepest nodes can cause taxonomy to override phylogeny"
(This issue overlaps with #158 and #159 and is described in https://github.com/OpenTreeOfLife/opentree/wiki/pseudo-code-supertree#step-2-remap-to-uncontested-higher-taxa, but was coming up in email, so I thought it was easiest added here as well)

As I understand it, in order to maximize overlap between trees, tips are mapped to deepest node in that tree.
Therefore that tree is treated as supporti

[2015-02-23 01:26] chinchliff commented on #160
Well, we have been making some progress on synth, so I am going to reply to some issues. The major outstanding issue is arbitrary ranking of input trees. How to properly perform ranked synthesis is still not entirely clear. But ranking seems to be a separate item from this particular issue, and I think the new synthesis method solves this problem if we ignore the need for ranks (which we can do he

[2015-02-23 01:34] chinchliff commented on #159
This issue--or at least the associated 'nontrivialaugmenting' test--is now passing (that is, when the synthesis maximizing criterion is more resolved rels/more nodes, not tree rankings). Here is the resulting tag and the test output. Please confirm and close if appropriate.

[code]

![image](https://cloud.githubusercontent.com/assets/1258397/6321717/f8ebc0b0-bad1-11e4-927b-7e442595c0c7.png)

[2015-02-23 01:44] chinchliff commented on #158
The 'trivialconf' test is now passing. I should have mentioned on #159 and #160 as well that the code for the new synth method that appears to resolve these issues is on the https://github.com/OpenTreeOfLife/treemachine/tree/rootward-synth branch. If you want to run it you'll also need to pull/recompile/install the 'new-synth-update' branches from ot-base and jade.

Here is an image of the tag and

[2015-02-23 02:38] chinchliff commented on #157
The recent edits to the loading procedure and synthesis seem to solve this problem as well. Here is the tag, and the results of the 'simpleprob' test (which I moved into test-synth dir on rootward-synth branch).

[code]

![image](https://cloud.githubusercontent.com/assets/1258397/6322078/1c7b1c3e-badb-11e4-942a-ef3c4f481f16.png)

[2015-02-23 04:04] chinchliff commented on #166
Hi Emily, getting back to this issue. So, I think this is a challenge, but not a technical one so much as it is just a problem with ambiguity on inputs. I remembered finally why we started "mapping to deepest exemplar" taxa, which was that if you don't, then you lose tree overlap and that leads to a loss in our ability to identify trees that support relationships, especially deep ones. So far I ha

[2015-02-23 06:11] mtholder commented on #160
the TAG certainly looks better - though don't n10 and n11 have the same set of descendants (A, B, C, and E)? That seems undesirable.

[2015-02-23 07:47] mtholder commented on #166
What does the intent of the researcher (either the researcher conducting the analysis or the curator) have to do with what the tree is saying? Their intention does not matter anywhere in the analytical pipeline that produced the tree, so it is hard to see why this should have a bearing on our interpretation of the tree.

If the data for the tip was created by making a chimera of several exemplars

[2015-02-23 08:31] mtholder commented on #158
looks good. I have a slight preference for keeping the issues open until we complete the synthesis changes (e.g. we still need to use the ranks, right?) and merge that into master. But you can certainly close the issues if you like. We can reopen them if we need to.

[2015-02-23 14:46] chinchliff commented on #166
But isnt the intent of the researcher what the curation pipeline is all
about? Where is the ingroup, what is the focal clade, in the case of
duplicate tips, which is the one to be used, what is the proper taxon for
this tip, etc. those are all questions of intent. We have assumed so far
that the intent of tips is to represent the deepest taxon they exemplify,
but that does have problems. If we cou

[2015-02-23 14:51] chinchliff commented on #158
No, that seems fine. There are still related issues that might end up here.
Yes, still working on ranking.

Now we are working on improving speed/efficiency and reducing redundant
node creation. The method seems to find the appropriate nodes but it tends
to create a lot of nodes, some of which are probably not necessary for
assessing tree overlap.

On Monday, February 23, 2015, Mark T. Holder <not

[2015-02-23 15:08] kcranston commented on #159
Is it just me, or does that code snippet not indicate failure? Or is it that some of the tests in run_synth_tests.sh are failing, but just not nontrivialaugmenting?

[2015-02-23 15:13] blackrim commented on #159
Why does it indicate failure? "

SUCCESS! recovered expected tree.
Failed 0 out of 1 tests(s).
"

On Mon, Feb 23, 2015 at 10:08 AM, Karen Cranston <notifications@github.com>
wrote:

[2015-02-23 15:31] kcranston commented on #159
Ah, misread that. Thanks.

[2015-02-23 15:36] chinchliff commented on #159
I've only been running individual tests. Hence "failed 0 out of 1 tests".
There are plenty of tests that fail, some for silly reasons like we haven't
told them what to expect, and others because we are still working out
other problems. I've been adding tests as well, for new issues as they come
up. As far as I can tell, the initial concerns that gave rise these
particular github issues that I've p

[2015-02-23 17:12] mtholder commented on #166
I wouldn't say that curation is about capturing intent. I'd say that it is about capturing information that is not available in the raw inputs.

Admittedly there are grey areas, where things aren't clear and we have to rely on expert knowledge. But ideally the things that we try to prompt from the curator should be:
  1. facts which could be meaningfully debated by other experts, and
  2. statemen

[2015-02-23 17:32] snacktavish commented on #166
I'm still not really getting the issues with option 3).
A synthetic tree is an output of a group of trees, so I don't think that it is inconsistent to interpret relationships in the context of that set of trees.

I don't agree with letting an interpretation of a curators belief in taxonomy overrule phylogenetic statements about relationships. If we have  trees that break up the monophyly of a grou

[2015-02-23 19:26] chinchliff commented on #166
Ok. Just to be clear, I'm not particularly attached to a specific outcome
here. I agree option 2 has problems. I just think think they're lesser
problems than 3. I am willing to be convinced that they're not.

The part about proliferating relationships means that we would just map a
tip to whatever ott id it comes in with, and also map it to all the deeper
taxa that could be exemplified by that ti

[2015-02-25 15:28] #162 closed

[2015-02-25 15:32] josephwb commented on #152
@jar398 Can we close this?

[2015-02-25 16:06] josephwb commented on #123
This looks fixed.

[2015-02-25 16:06] #123 closed

[2015-02-25 17:55] jar398 commented on #152
I don't see what else we can do, other than swapping neo4j out for a more
reliable platform, which is probably not practical at this time.

What makes me sweat is that this is one more thing we've got to remember
when deploying: if a plugin is missing, redeploy. Completely unsatisfying.

On Wed, Feb 25, 2015 at 10:32 AM, Joseph W. Brown <notifications@github.com>
wrote:

[2015-03-09 12:53] jar398 opened #168 "incertae sedis erroneouly retained in synthetic tree"
The current synthetic tree shows OTT taxon 5268476, which is an incertae_sedis container:

https://tree.opentreeoflife.org/opentree/otol.draft.22@384700/Incertae-Sedis

It's a bug that it didn't get squeezed out when OTT 2.8 was generated, but I thought that it would be suppressed by treemachine on load.  Here's the row from OTT:

5268476 |       304358  |       Incertae Sedis  |       no rank |

[2015-03-09 22:19] chinchliff opened #169 "Is there a problem with hashCode?"
The performance of hash maps and sets does not seem to be as good as expected for CompactLongSet or ImmutableLongBipartition. Need to actually record the hash code values from some empirical loading runs and see how these values are distributed (and potentially fix the the hashCode method(s) if they are not sufficiently random).

[2015-03-19 09:14] snacktavish commented on #166
Coming back to this issue, how does mapping to deepest taxon play into synthesis currently, and what are the expectations for the trees in my first comment? I'm still not sure what behavior would be considered correct according to our criteria. Thanks!

[2015-03-19 13:16] blackrim commented on #166
Sorry I haven't closed this earlier because I made it so that you don't have to map deepest. You give it the shallow taxa from the original set and it will from the shallowest to the deepest and everywhere in between. That way, you also don't have to check before hand for what taxa are monophyletic before running the analysis. So your example runs as expected when you don't map deepest.
![graph](h

[2015-03-19 13:16] #166 closed

[2015-04-08 13:02] josephwb commented on #168
Treemachine only uses the flags to determine whether a taxon should be pruned. The version we were using (2.8draft5) has the following:
[code]
So, no flag. I don't think treemachine made an error here, so I am closing the issue.

[2015-04-08 13:02] #168 closed

[2015-04-08 13:06] jar398 commented on #168
OK, I was looking at 2.9, which has it flagged.
This is unfortunate...

[2015-04-08 13:07] blackrim commented on #168
Yeah. It is in a pretty good sized list of taxonomy things.

[2015-04-08 13:13] josephwb commented on #168
To be clear: no taxa with the "incertae_sedis*" flag is in the tree.
JWB.

On 8 April 2015 at 09:08, Stephen Smith <notifications@github.com> wrote:

[2015-04-28 16:48] josephwb opened #170 "Retire return source tree service?"
Described here:

https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs#source_tree

Source trees are not stored in the treemachine db anymore (subproblems are).

In addition, the argument has been made that treemachine should not be providing this info anyway. If the original tree is desired, one should go to phylesystem. If the processed tree is desired, we will provide that in a

[2015-04-30 15:08] josephwb opened #171 "Update arguson"
[[Almost done](https://github.com/OpenTreeOfLife/treemachine/commit/7c9195cd0a522851692562d66dbaabb175471ded), but putting this here as a record]

Since moving to subproblem loading, the DB contains less metadata than before, some of which the tree browser expects. @jimallman (on irc) asked for the following to be in the returned arguson:

1. "supportedBy" info for the focal node (present for othe

[2015-04-30 19:02] josephwb commented on #171
Should be done with 7e3525c6cf9b6aa4c1e5ad4438c98e03783b579f (see preview in a comment of that commit, since dev is still lacking java 8).

[2015-05-01 18:36] mtholder commented on #154
reference in https://groups.google.com/d/msg/opentreeoflife/UIjmJpmYWzw/dXd-EeZ-SLwJ
see more recent (v3 of synth) output at http://phylo.bio.ku.edu/ot/opentree3.0-check-taxonomic-nodes-output.txt

[2015-05-05 16:15] josephwb commented on #170
It has been decided that we will just return a rul to wherever we end up storing the processed newicks.

[2015-05-05 16:40] josephwb commented on #170
@kcranston Please send me the link to where these will live as soon as you have it.

[2015-05-05 17:24] jimallman commented on #171
Thanks, this is just what I needed! I'll re-open (or start a new issue) as needed, but closing for now.

[2015-05-05 17:24] #171 closed

[2015-05-06 08:55] mtholder opened #172 "possible bug in creating `bipartsByTreeNoDuplicates`"
shouldn't the addition of `b` to treeBiparts occur after the check to see if `b` has been placed in `bipartId`
here: https://github.com/OpenTreeOfLife/treemachine/blob/rootward-synth/src/main/java/org/opentree/tag/treeimport/BipartOracle.java#L366-L377
?
It looks like `treeNodesForBipart` and `bipartsByTreeNoDuplicates` are getting out of sync.

[2015-05-06 09:36] mtholder opened #173 "the JadeNodes built up in populateTaxonomyGraphNodesMap seem to have no effects"
Seems like that part of the logic could be omitted to reduce the code to:

	private void populateTaxonomyGraphNodesMap(List<Tree> trees){
		taxonomyGraphNodesMap = new HashMap<Node,LongBipartition>();
		for(Tree tree: trees){
			for(TreeNode treeLf : tree.getRoot().getDescendantLeaves()){
				Node taxNode = gdb.getNodeById(nodeIdForLabel.get(treeLf.getLabel()));
				while (taxNode.hasRelationship(

[2015-05-06 09:39] mtholder opened #174 "troubling comment"
Perhaps the comment is out of date. But as far as I can tell, the flow of execution goes through the part of the code marked with the

    //TODO: this has an error in it when the clade is not monophyletic

comment, at https://github.com/OpenTreeOfLife/treemachine/blob/rootward-synth/src/main/java/org/opentree/tag/treeimport/BipartOracle.java#L1943

*update*: wrong line linked in the first version

[2015-05-06 12:00] mtholder opened #175 "LSIntersection appears to be called alot and is not efficient"
https://github.com/OpenTreeOfLife/treemachine/blob/rootward-synth/src/main/java/org/opentree/tag/treeimport/BipartOracle.java#L856-L865

Set intersections should not be O(MN).

[2015-05-06 13:17] chinchliff commented on #175
Agreed, should be an iteration over the elements of one set to check if they are in the other, so O(min(M,N)), correct?

I think there is another problem here: the use of the '==' operator could be doing some weird stuff. That should only return true when the two elements being compared are pointers to the same object in memory, which does not seem like what we want here. I wonder if that is affec

[2015-05-06 13:26] blackrim commented on #175
Agreed on the first part. The second would be surprising considering the verbose output we had in testing this and the number of contrived tests that require a functioning version of this.

[2015-05-06 13:34] blackrim commented on #174
yes, I agree. I am pretty sure this is just out of date (this commit 8eea261617d03c0c00b805b5c85dea89d66bf0a7 addressed the problem) but I am going to leave it there until it is verified.

[2015-05-06 13:49] chinchliff commented on #175
Maybe for some reason they always end up being the same object anyway, so
it works as expected? But that is the behavior of the == operator as far as
I know.
On Wed, May 6, 2015 at 9:26 AM Stephen Smith <notifications@github.com>
wrote:

[2015-05-06 15:48] chinchliff commented on #175
Should be fixed in c17c70257a9a5e67d0febe3956ea7f18061ff868

[2015-05-06 15:48] #175 closed

[2015-05-06 15:49] chinchliff commented on #175
Also, no longer uses an equality comparison so the potential issue there is now moot. Likely that bit was not causing problems anyway because (1) if it were, we should have seen a lot of failures so (2) it is likely that the Long objects being compared were in fact references to the same objects in memory.

[2015-05-06 19:01] josephwb commented on #154
Should be fixed as of 3cba417a8f97f86de5224ad16b8c2bcad527acb9. Will know for sure shortly :wink:

[2015-05-06 19:06] josephwb commented on #142
Closing this since we are deprecating the service.

[2015-05-06 19:06] #142 closed

[2015-05-08 12:00] josephwb commented on #170
@kcranston Apologies if I missed this, but have you set where the processed data are to live? Would like to get this implemented before the PR review / deployment later today (14:00).

[2015-05-08 19:04] jar398 opened #177 "Update README.md and modernize the treemachine wiki"
Lots of out of date information in these two places. Please fix ASAP

[2015-05-08 19:24] jar398 opened #178 "Ensure success of travis-ci, which is currently failing"
It's complaining about the java version, or something.

[2015-05-12 15:48] chinchliff commented on #154
Any update on this? It is referenced in the doc and I am curious if we have confirmation of Joseph's statement that it should be fixed

[2015-05-12 15:55] mtholder commented on #154
his fix dealt with all but 2 cases (that or there is a bug in the otcetera code that identifies problems).

[2015-05-13 01:12] josephwb commented on #154
I haven't chased down whats what with this. We turned down verbosity recently in the synth log; I'll see if the info is in there.

[2015-05-14 14:17] kcranston commented on #170
Decided to put them on files.opentreeoflife.org

[2015-05-15 02:15] josephwb opened #179 "Return 4xx/5xx status codes on bad service calls"
Requested by @jar398 (https://github.com/OpenTreeOfLife/treemachine/commit/9f7e3278b4206a8b34d98b8d30aa5aa91327eb3d#commitcomment-11205859).

Not urgent, but likely involves all treemachine services.

[2015-05-15 04:17] josephwb commented on #179
Should be essentially covered by https://github.com/OpenTreeOfLife/treemachine/commit/1bc6c049ca510517be75905babaf6b02d81990e8; thorough testing tomorry.

[2015-05-15 04:37] josephwb commented on #148
Fixed with https://github.com/OpenTreeOfLife/treemachine/commit/659d903fad1ce0cdc8d5e966c3ac71c9d3c010ee

[2015-05-15 04:38] josephwb commented on #149
Fixed with https://github.com/OpenTreeOfLife/treemachine/commit/22414b94032f5eaa4229110a42f37734b6009626

[2015-05-15 04:39] josephwb commented on #126
Fixed as of https://github.com/OpenTreeOfLife/treemachine/commit/f71a745525b377fb82c84ab5213befc9ac6e1560

[2015-05-15 04:39] josephwb commented on #125
Fixed as of https://github.com/OpenTreeOfLife/treemachine/commit/cb36de438ac26a58bebb7f10aa8d3a1609da0dde

[2015-05-15 04:42] josephwb commented on #146
It seems like these are executable now.

[2015-05-15 04:42] #146 closed

[2015-05-15 04:46] #2 closed

[2015-05-15 04:47] josephwb commented on #29
Since this is deprecated, closing.

[2015-05-15 04:47] #29 closed

[2015-05-15 04:48] #49 closed

[2015-05-15 04:52] josephwb commented on #124
Service is changed. Closing.

[2015-05-15 04:52] #124 closed

[2015-05-15 04:52] josephwb commented on #127
Service has changed. Closing.

[2015-05-15 04:52] #127 closed

[2015-05-15 04:54] josephwb commented on #152
Not a treemachine issue; seems like maven voodoo. Closing.

[2015-05-15 04:54] #152 closed

[2015-05-15 09:02] mtholder commented on #152
seems like this either:
  1. belongs here (if the pom.xml) is not correct.
  2. belongs in a maven issue tracker, if it really is a maven issue (which seems unlikely as none of us seem confident that we know how to use maven), or
  3. in the opentree issue tracker, if the deployment scripts don't do some necessary prep. work.

[2015-05-15 11:06] josephwb commented on #152
Can this be recreated? Has it occurred within the last 4 months?

[2015-05-15 14:22] jar398 commented on #152
Yes, it happened yesterday during production deployment and before that in
development deployment. Each time forcing recompilation and reinstallation
fixed the problem.

But just because it's persistent doesn't mean it can be recreated on demand.

It could be a neo4j bug, or a problem with the deployment system, or one or
more of the pom files. I'm not sure what to do with this one. - At the very

[2015-05-15 14:29] josephwb commented on #152
Is it just treemachine, or any of the repos that use maven? If the latter, maybe we should move this issue to the main OpenTree repo.

[2015-05-15 14:34] jimallman commented on #152
Perhaps we could check for the expected artifacts (compiled plugin files) in the deployment script, and re-run the compilation of any are missing?

[2015-05-15 14:42] jar398 commented on #152
It happened with oti as well. I'm not sure the opentree repo is the right
place, since this is unrelated to the web app. Maybe germinator, which is
for cross-cutting concerns. Maybe it has something to do with ot-base. I
keep meaning to move the deployment system into its own repo, maybe it
would belong there.

On Fri, May 15, 2015 at 10:29 AM, Joseph W. Brown <notifications@github.com>
wrote:

[2015-05-15 14:45] jar398 commented on #152
No, checking for the artifacts won't work - remember I checked and not only
were they present but they contained the necessary classes. (That argues
against its being a maven problem.) Seems more like a neo4j thing, or a
problem with how the services are being reloaded and restarted.

I think the automatic end-to-end test - making sure the services can be
invoked - is the way to go.

On Fri, May 1

[2015-05-17 02:04] jar398 commented on #156
I can't pretend to understand this very well, but here's what I've got so far. I found a different, although perhaps equivalent definition of support in  http://www.lirmm.fr/~vberry/Publis/RR07010.pdf : a set R of rooted triples, say from input trees, supports (or 'induces') another set S, e.g. S equivalent to an ingroup/outgroup pair, if there is a subset of R that entails (displays / necessitate

[2015-05-17 02:10] jar398 commented on #156
oops, that comment belongs on #78. moving it there

[2015-05-17 02:12] jar398 commented on #78
(comment moved here, had been wrongly added to #156)
I can't pretend to understand this very well, but here's what I've got so far. I found a different, although perhaps equivalent definition of support in  http://www.lirmm.fr/~vberry/Publis/RR07010.pdf : a set R of rooted triples, say from input trees, supports (or 'induces') another set S of rooted triples, e.g. S equivalent to an ingroup/outgro

[2015-05-18 18:05] mtholder opened #180 "differing info in "supported by""
When I load:
  https://devtree.opentreeoflife.org/opentree/opentree3.0@3846678
and look at the "supported by" info for the "Edge to parent Phaseoleae" info I see 6 trees and the taxonomy.

When I load https://devtree.opentreeoflife.org/opentree/opentree3.0@369901/Phaseoleae
and ask for the same edge info (edge leading to Glycine + Phaseolus+ Vigna) I only see 3 trees supporting it.

*note* this is

[2015-05-18 18:08] josephwb commented on #170
Trees are [here](http://files.opentreeoflife.org/preprocessed/v3.0/).

[2015-05-18 18:30] mtholder commented on #180
Another example is https://devtree.opentreeoflife.org/opentree/opentree3.0@3870247
where  pg_2838 drops from the supporting list if you move back a node.

[2015-05-18 23:14] jimallman commented on #180
It seems to be a bug in the arguson. For some nodes, we seem to get additional support if it's the target (primary) node versus elsewhere in the tree. In calls to `getSyntheticTree`, the target node is specified as `subtreeNodeID`.

I tested this with node _opentree3.0 @ 3846678_ on **devtree**. Here's the curl call to fetch its subtree in arguson:
[code]
For the target node, this returns seven st

[2015-05-18 23:15] josephwb commented on #180
Thanks @jimallman

[2015-05-18 23:24] josephwb commented on #180
FWIW the ```node_status``` services gives the following:
[code]
[code]
So, "tree_sources" and "synth_sources" differ. Will see what is going on and fix things.

[2015-05-18 23:56] josephwb commented on #180
I think it is "tree_sources" that is wrong. Here is an example from birds (what else?):
[code]
[code]

[2015-05-19 00:59] jimallman commented on #180
Are `tree_sources` and `synth_sources` documented? The [API wiki entry for `node_info`](https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs#node_info) doesn't cover this level of detail, and the [source for `getSynthesisSupportingSources` and `getSupportingTreeSources` doesn't really spell it out either](https://github.com/OpenTreeOfLife/treemachine/blob/2d0195f8d92bbb4e2c6a8f94

[2015-05-19 02:58] josephwb commented on #180
Thanks for pointing out the lag in the doc @jimallman.

```tree_sources``` is _supposed_ to be for nodes _not_ in the synthetic tree (i.e. they might have tree support, but are overruled because of conflict with other trees; this is a step towards the goal of explaining why a particular node does not appear in the synthetic tree), while ```synth_sources``` is _supposed_ to be for nodes that _are_

[2015-05-19 12:48] mtholder commented on #154
The version 3 of synth is down to 2 cases. One is at the species level:
https://devtree.opentreeoflife.org/opentree/argus/opentree3.0@3678897
which excludes:
https://devtree.opentreeoflife.org/opentree/opentree3.0@3854155/Arthronema-gygaxiana--Limnothrix-redekei-NIVA-CYA-227/1

that latter grouping is odd. If you back up to https://devtree.opentreeoflife.org/opentree/opentree3.0@3855022
you see th

[2015-05-19 12:58] mtholder commented on #154
The other mislabeled node is:
   https://devtree.opentreeoflife.org/opentree/argus/opentree3.0@927983
which is an ancestor of https://devtree.opentreeoflife.org/opentree/argus/opentree3.0@934222
and:
    https://devtree.opentreeoflife.org/opentree/argus/opentree3.0@934227

which together make the top clade of https://devtree.opentreeoflife.org/opentree/opentree3.0@3870811/Cyclopteridae--Trachinoid

[2015-05-19 18:34] josephwb commented on #180
Found the problem. Will deploy a fix this afternoon to dev.

[2015-05-19 19:11] josephwb commented on #180
Should be fixed with f5f9b94140bfe28e2bbaffdd5c81ffacad4d985f. Please test @jimallman.

[2015-05-20 13:02] jar398 commented on #154
Joseph Brown replied to a comment on Supplementary material:

I just ran synthesis without adding missing children. 1 of the 2 improperly named nodes ("Cottioidei ott237343") is already present. I believe I know what is going on with the other one ("Limnothrix redekei ott704052"), which indeed looks like it is a missing children issue.

[2015-05-20 13:07] josephwb commented on #154
I implemented my missing-children fix for "Limnothrix redekei ott704052" and re-ran synthesis. The problem went away (and didn't generate new ones!). The "Cottioidei ott237343" issue remains (as do the 9 unsupported nodes).

[2015-05-20 13:28] chinchliff commented on #154
Oh. Well that's good. So maybe we can resolve this issue and remove the
associated disclaimer from the manuscript?

On Wed, May 20, 2015 at 9:07 AM Joseph W. Brown <notifications@github.com>
wrote:

[2015-05-20 13:29] chinchliff commented on #154
Actually, I suppose not, since the issue with Cottioideae remains. We know
it isn't missing children. I wonder what else could be happening that would
affect taxonomic composition like that?

On Wed, May 20, 2015 at 9:27 AM Cody Hinchliff <cody.hinchliff@gmail.com>
wrote:

[2015-05-20 13:30] josephwb commented on #154
I don't know about the unsupported nodes. Could come from adding missing children. Unfortunately, I cannot do the unsupported test with the partial synth tree, partial taxonomy tree, and pruned inputs: something goes wrong with pruning. Maybe @mtholder can take a look?

[2015-06-24 13:15] jar398 opened #182 "Eliminate "Supporting sources for node" messages from console log"
Supporting sources for node [321058]: [taxonomy]
These messages are useless and are cluttering the log file. Clogged log files make diagnosing server failures harder.

[2015-06-24 13:25] jar398 commented on #182
These messages are useless and are cluttering the log file. Clogged log files make diagnosing server failures harder.

[2015-06-24 15:45] josephwb commented on #182
f1eb8515e2487eeb5c65e0e5c9f2911031ce7f8e should do it. I'll submit a PR sometime soon.

[2015-06-25 12:54] jar398 opened #183 "Never expose volatile node ids in the API"
@hlapp remarked on this problem when he reviewed the API a few months ago. I know we've talked about this before but I don't think it ever became a treemachine issue.

Neo4j node ids are not stable, and if one is squirreled away (e.g. in a bookmark or email message) and then used after an intervening tree update, it will go to a completely random place without any indication that there may be a pr

[2015-06-25 13:13] josephwb commented on #183
I'll add this to the branch with service updates.

[2015-06-25 13:22] kcranston commented on #183
We need to make sure that we communicate this change well to users of the APIs. Will we keep backwards compatibility of the existing behaviour? As concrete examples, the folks writing the rotl library are just about to publish, and the peyotl tutorial that @snacktavish wrote is being hosted by CIPRES. I don't want to break those implementations.

[2015-06-25 13:32] jimallman commented on #183
@jar398's solution certainly makes sense to me, but I'll point out that the existing system was intended to fail gracefully. Since we have both `tree_id` and `node_id`, we should be able to load a previous tree (if possible) or to say "Sorry, that tree is no longer available."

This doesn't work as expected if we keep using the same tree id over multiple versions, which I believe was the case for

[2015-06-25 15:37] jar398 commented on #183
I don't see how the existing system can fail gracefully, unless you mean
that someone is free to check the tree id - which they are not required to
do now, and can still do under the proposal. Under the proposal, if they
can choose to ignore it (and clearly some do), they will get the
corresponding node in *any* tree, rather than a 'wrong tree' error; and
presumably that is what they wanted, unlik

[2015-06-25 15:42] hlapp commented on #183
Backwards compatibility is the bane of progress, and the reason why APIs should be versioned, and have an expectation of being sunset at some point in the future.

This is common fare. APIs of packages that a particular published R package depends on change all the time, and do sooner or later break packages, including published ones, if they are not maintained. I'm not sure why Open Tree should b

[2015-06-25 15:51] kcranston commented on #183
I mostly want to make sure that we don't silently push this change, rather than officially versioning the API and communicating to users.

[2015-06-25 15:57] jar398 commented on #183
Right. If we choose not to use the integer-encoding kludge (and I think in
the long run it's a bad idea), let's start by adding the new
node_designator field to requests and responses; that's a compatible
change. Then separately we can version the API and remove the node_id
field, so as to address the complaint in the issue title.

(Anyone want to suggest something better than node_designator?)

[2015-06-25 17:43] mtholder commented on #183
`mrca_of` perhaps?
initialisms are often a bit cryptic, but MRCA is *very* common in this field.

[2015-06-25 18:00] jar398 commented on #183
I had in mind a field that was the ott id if there was one, or id+id if
not. That is, a designator for the node. So it would not be appropriate to
call the field 'mrca_of'.

[2015-06-25 18:18] jimallman commented on #183
maybe `node_locator` or `node_location`?

[2015-06-25 20:01] mtholder commented on #183
The name does not matter too much to me. FWIW: I don't really see what is wrong with:

    mrca_of=2+4

meaning the node that is the MRCA of ott ID 2 and ott ID 4.  While

    mrca_of=2

meaning the node with ott ID 2 (which is also the MRCA of taxon 2, in some sense).

`node_designator` is fine and consistent w/ phylocode lingo, but it requires the user to know "designator" means "either 'id of'

[2015-06-25 20:12] kcranston commented on #183
+1 to `mrca_of`

[2015-06-25 21:05] jar398 commented on #183
What is the most recent common ancestor of 2? What's the difference between
a cow?

There is no mrca of 2 because there's nothing for it to be common among.

Users don't need to know that the string has anything to do with ott ids or
mrcas. They can just treat it as an opaque string. Not that there's any
harm in them knowing, but there is no burden of requiring them to know this
detail, and no tra

[2015-07-06 06:55] mtholder opened #184 "web service to return subproblems IDs"
We should give users someway of seeing which nodes were constrained as subproblems.

[2015-07-07 12:44] josephwb opened #186 "Have option to return trees without extinct taxa"
Suggested by @hyanwong in the email thread (don't know how to link to that).

The idea is that this would be an optional argument to treemachine services.

Bit of a moot point at the moment, as the current tree is not _supposed_ to contain any extinct taxa.

Would need: 1) a better taxonomy with some sort of "extinct" flag (probably already exists?), and 2) treemachine code to skip extinct taxa wh

[2015-07-07 12:50] mtholder commented on #186
https://groups.google.com/d/msg/opentreeoflife/Ix4Khm5c66c/JeL7I06KY8sJ

[2015-07-14 17:55] jar398 commented on #186
There is an extinct flag and it is set on 220,009 nodes in the taxonomy
(about 7%).  (Getting this information was the prime motivation for
importing IRMNG.) Treemachine excludes all of these taxa. The reason for
exclusion is that so many of them come (mostly from GBIF) and are not
placed correctly in NCBI or Index Fungorum.

But there are tons of false positives and false negatives. The false
pos

[2015-07-14 21:22] josephwb commented on #186
FWIW, this version loads without treemachine exploding, so that is good.
[code]

[2015-07-14 23:47] jar398 commented on #186
'this version' = ?

[2015-07-14 23:49] jar398 opened #187 "Support OTT 2.9 flags"
See http://files.opentreeoflife.org/ott/ott2.9/.
unplaced, inconsistent, merged
- treat all same as incertae_sedis

[2015-07-15 04:03] josephwb commented on #186
2.9draft7

[2015-08-05 17:46] josephwb commented on #183
I may be missing something, but is there a reason we cannot have two potential arguments: ```ott_id``` or ```mrca_of``` (list of ott_ids)?

[2015-08-05 18:15] jar398 commented on #183
I think there should be a 'node id' abstraction that clients can use
without having to be aware of their syntax or semantics. That is, clients
that would be happy with opaque node ids, should be able to treat them as
such. The natural representation for such an id would be a string. It would
not make sense for a client that didn't care to be forced to understand
that sometimes they're strings and

[2015-08-05 20:35] josephwb commented on #183
I don't really understand; I guess we can discuss during next meeting.

I pushed treemachine services to devapi which get rid of ```node_id``` (replacing with ```mrca_of``` where appropriate). I will send out tests and documentation later to show how they work (documentation for the services can be looked at using curl calls at the moment).

[2015-08-05 20:39] snacktavish commented on #183
Like @josephwb, I'm confused by this suggestion. How would the node id strings transfer across different synthetic trees? I support the "mrca_of" approach as the easiest to understand, and "mrca_of" a single ott_id doesn't bother me either.

[2015-08-05 21:25] jar398 commented on #183
The idea is to support data abstraction, i.e. that clients that don't need
to know the representation shouldn't have to. So the abstraction is that of
a 'stable node id' and to those clients it is just an opaque string. But in
fact it would encode one of two situations:
  1. a node that has an OTT id,
  2. a node that does not have an OTT id, but is instead located using a
pair of OTT ids, and tak

[2015-08-05 21:42] jimallman commented on #183
to have perfect transfer between trees, since trees are incompatibly
different, "a lot of the time" is the best you can do, and therefore
adequate.

Since we can't guarantee the "same" node (by whatever criterion), I'd like node-id strings that are fairly transparently ottids or combinations, implying MRCA. These look good to me:

- `123` is a simple ottid (a recognized taxon)
- `123+456` or `(123

[2015-08-05 22:02] snacktavish commented on #183
That makes sense. Is the idea that nodes would be assigned a fixed id, e.g. the node that is the mrca of 123 and 456 may also be the mrca of 111 and 444. Would it just be arbitrarily assigned an id string using two of its descendants, or would both '123+456' and '111+444' map to that node? (This may be getting into phylocode territory)

[2015-08-05 23:44] josephwb commented on #183
I still don't understand. :cold_sweat:

Forgive me for being naive, but:

1. If a user wants a named node, they need to know the ottid
2. If a user wants an unnamed node, they need to know at least 2 ottids of descendant taxa.

So, the user _knows_ what situation they are in (they have to be). If that is the case (it might not; like I said, I do not understand the issue yet), then why would:
[code

[2015-08-06 13:36] josephwb commented on #187
@jar398: The documentation [here](http://files.opentreeoflife.org/ott/ott2.9/) and [here](https://github.com/OpenTreeOfLife/reference-taxonomy/blob/2.9draft8-finishing-up/doc/ott2.9.md) mentions "placed", but not "unplaced". Can I assume that both of those docs have typos, and that the new flag is in fact "unplaced"? That makes a lot more sense when aligning it with "incertae_sedis".

[2015-08-06 13:46] jar398 commented on #183
Remember we're just talking about replacing the current unstable neo4j node
ids with something that has a chance of surviving a synthetic tree update.
Perhaps they should be called 'locators' instead of 'ids' since there is no
need and no purpose in trying to make them unique per node.

I would expect treemachine to be deterministic, for any invocation of the
server, in its choice of locator for a

[2015-08-06 14:34] jar398 commented on #183
On Wed, Aug 5, 2015 at 7:44 PM, Joseph W. Brown <notifications@github.com>
wrote:

You are mistaken. The common cases are the same as the current use cases
for neo4j node ids. When someone uses a neo4j node id, that is because they
have been handed it by someone else, typically either an API call (e.g.
arguson) or something that has received a node id indirectly (e.g. the
feedback system). It is j

[2015-08-06 14:45] josephwb commented on #183
Should:
"the mrca of OTT 123 and OTT 456 would be node locator 1425362"
be:
"the mrca of OTT 123 and OTT 456 would be node locator _1234562_"?

[2015-08-06 14:54] josephwb commented on #183
Regardless, happy to do whatever people want.

[2015-08-06 16:17] jimallman commented on #183
:+1:

[2015-08-06 21:52] jar398 commented on #187
Yes.

On Thu, Aug 6, 2015 at 9:36 AM, Joseph W. Brown <notifications@github.com>
wrote:

[2015-08-11 19:55] josephwb commented on #183
I started playing with the idea:

"Let the single OTT id case be written with a terminal '1', and the double OTT id case be written with a terminal '2' and the digits interleaved. So OTT id 123 would become node locator 1231, and the mrca of OTT 123 and OTT 456 would be node locator 1425362." [although I think the last thing should be "1234562"]

But don't we need some sort of delimiter? Are ottid

[2015-08-11 20:04] jar398 commented on #183
you would prefill with zeroes as needed.

123 + 4 = 123 + 004 = 102034
456 + 78901 = 0456 + 78901 = 708495061

The encoding doesn't matter.  That you can establish a 1-1 correspondence between integers and pairs of integers is well established (Georg Cantor, 1870s). We shouldn't be talking details of the encoding until we've settled on general requirements.

[2015-08-12 15:53] josephwb commented on #187
Looks like"hybrid" was missed (mentioned on the [wiki](https://github.com/OpenTreeOfLife/reference-taxonomy/wiki/Taxon-flags)). Pretty sure we don't want those in the tree.

[2015-08-19 16:40] jar398 opened #189 "Export format for synthetic tree"
It would be nice if a lossless text version of the synthetic tree were available. The Newick string is nice but doesn't contain support information, for example. Locking up information inside a neo4j database unnecessarily limits its utility.

Not high priority, just something to keep in mind, especially if there is a rewrite coming down the road.

[2015-08-27 04:49] josephwb commented on #63
I believe this is fixed with 75e4006fb2716faa4167a2bca9fddc358f1f2bfd.

[2015-08-27 04:57] josephwb commented on #63
Might as well clean up the casing inconsistencies here while we're at it. Tomorrow.

[2015-08-27 13:59] josephwb opened #192 "Make casing of fields in arguson consistent"
Not a biggie, but brought up at Kansas meeting.

[2015-08-28 21:29] josephwb commented on #63
https://github.com/OpenTreeOfLife/treemachine/pull/191 covers this.
@jimallman: please close this when you merge.

[2015-09-21 15:03] kcranston opened #193 "Some newick downloads failing"
From [opentree issue 758](https://github.com/OpenTreeOfLife/opentree/issues/758):

Some Newick downloads work fine on devtree, some fail. The pattern suggests there might be some kind of "poison pill" (e.g. unexpected punctuation in taxon names), but that's just a hunch.

WORKS: https://devtree.opentreeoflife.org/opentree/argus/ottol@770311/Hominidae

FAILS: https://devtree.opentreeoflife.org/open

[2015-09-21 15:24] josephwb commented on #193
Those look like 2 different calls: `...argus/ottol/...` vs. `...opentree3.0...`. Substituting the former in the latter seems to work.

[2015-09-21 15:25] josephwb commented on #193
And this involves `arguson`, not `newick`, right?

[2015-09-21 15:32] jimallman commented on #193
My bad, the "FAILS" url given here was malformed. See my update and the real "smoking gun" (bad webapp configuration) in https://github.com/OpenTreeOfLife/opentree/issues/758

[2015-09-21 15:34] josephwb commented on #193
Great! Thansk for tracking that down @jimallman.

[2015-09-21 15:34] #193 closed

[2015-10-16 18:12] #187 closed

[2015-10-16 18:14] josephwb opened #195 "Make synthtree id a passed argument during synthesis"
Currently this value is hardcoded in src/main/java/opentree/constants/GeneralConstants.java.

[2015-11-07 16:04] jar398 opened #197 "Tree version should be fetched from db in getSourceTree"
In plugins/graph.java, the tree version number is hardwired into the getSourceTree method.  The id ought to be fetched from the database.

[2015-12-08 01:22] jar398 opened #198 "Possible MRCA problem?"
I wonder if someone who is familiar with the treemachine MRCA code could review the following?
https://github.com/OpenTreeOfLife/opentree/issues/769
Thanks

[2015-12-08 02:30] jar398 commented on #198
hmm, the first two cases I checked turned out to be a mapping error and a taxonomy surprise.  so I'm guessing not a treemachine issue.

[2015-12-08 16:45] jar398 commented on #198
Not a treemachine issue

[2015-12-08 16:45] #198 closed

[2016-02-02 14:16] jar398 opened #199 "Need automated web services tests"
This part of the web API needs automated web services tests similar to what taxomachine and phylesystem-api have.

This is especially important as we transition from the established treemachine code to new tm-lite. For regression checking we need tests that work equally in both the old implementation and the new one.

To get started see the section on web services [here](https://github.com/OpenTre

[2016-02-02 14:18] jar398 commented on #199
for starters there are four very simple treemachine tests here: https://github.com/OpenTreeOfLife/germinator/blob/master/test.sh

[2016-02-05 13:59] kcranston commented on #163
Pinging this issue again. Does the new synthesis format make it easier to return sources?

[2016-02-05 14:16] jar398 commented on #163
It sure should.  This is what​
https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs-v3#conflict-api-response-node-fields
 is about.  The section claims to be about conflict but it is equally about
support.

tm-lite has to ingest the annotations file in any case, so whenever it
generates a tree, it can look up the support for every node in the subtree,
finding any supported_by and

[2016-02-09 13:41] jar398 commented on #197
Not exactly a dup of #195 since it concerns a different file, but merge the two issues if you like

[2016-02-09 13:43] jar398 commented on #189
I think this is addressed by propinquity, which implements https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs-v3#synthetic-tree .

[2016-02-09 13:43] #189 closed

[2016-02-09 13:47] jar398 commented on #183
On hangout we agreed the ids would be chosen by propinquity and included in the tree input to tm-lite.

[2016-02-09 14:06] josephwb commented on #197
Not a problem; just need to make sure other tools name things consistently. Synthetic tree names come from the json annotations like:
[code]
Treemachine expects newicks to be present at:
[code]

[2016-02-09 14:21] jar398 commented on #197
As I've said before, we need a document describing the interface between
the synthesis pipeline and tm-lite.  It's OK if tm-lite is capable of
getting its inputs from the web, but this should not be required (i.e. we
want people who don't have the ability and inclination to put things on the
web to be able to run synthesis and tm-lite).​

[2016-02-09 14:29] josephwb commented on #195
src/main/java/opentree/constants/GeneralConstants.java is being phased out. Still present at the moment, but not being used.

[2016-02-09 14:32] josephwb commented on #197
I guess we can discuss this during the next hangout (or before), but the only interface between the synthesis pipeline and tm-lite is the the generated documents: 1) newick, 2) json annotations.
Regardless, [this](https://github.com/OpenTreeOfLife/treemachine/commit/8873c05fa1bf65e21f148c8d14873a72628a77e2) patches the service as it currently stands.

[2016-02-09 17:35] jar398 opened #200 "Support node ids as strings in treemachine (pre-tm-lite) to avoid flag day"
Having a flag day where the synthetic tree API *and* its clients *must* change at the same time would be a disaster.  We can help clients prepare for the switch from integer to string by supporting string node ids in treemachine prior to advancing to tm-lite.

This is not the same as adopting mrca-based node ids; I'm just saying find a way to use "123" or "node123" instead of 123.

Where the node

[2016-02-09 17:38] mtholder commented on #200
Whenever we deploy tm-lite rather than treemachine, we are going to lose the whole `graph` part of the API. So it sort of seems unavoidable that we won't be backward compatible.

[2016-02-09 19:34] jar398 commented on #200
I don't think you understood what I was proposing; I didn't say anything
about backward compatibility. Technically we're talking about forward
compatibility, and this idea matters for development in the period leading
up to the switch to tm-lite, not after. A programmer can write code and
deploy *at their leisure* in the period leading up to the loss of integer
node id support and if they do there

[2016-02-09 19:44] mtholder commented on #200
but we aren't going to be able to support `"use_string_node_ids" = false` when we deploy tm-lite, though.
So as soon as we deploy that, it will not be backward compatible with any one who uses that option.

I just don't think many clients will have a hard time writing a version of client code that makes it easy to switch to strings as node designators.

Adding more complexity to the current implem

[2016-02-09 19:55] jar398 commented on #200
Para 1 is irrelevant, because I am not talking about backward compatibility
and never suggested false would be valid there.  Para 2 I assess
differently: the tree browser is an important client and I think debugging
the new system without this hack will be awful, if only because of
scheduling and coordination - there are many plates in the air right now
and this group is used to operating without

[2016-02-09 20:49] mtholder commented on #200
The proposed hack makes it no easier to update the tree browser. For that step to be completed, someone (probably @jimallman ) will have to move the tree browser over to using strings as node designators. Having a special one-off version of tm that makes some of the old int-based calls work only hides the client calls that will be bugs in a few weeks.

I see no reason why changing tm is easier tha

[2016-02-10 15:44] jar398 commented on #200
It's about testing. If you deploy A and B in lockstep ('flag day'), and
there is an error in their interaction, it is harder to localize the source
of the error than if they were deployed and tested in sequence. Debugging
may require coordinating two programmers, and coordination is expensive and
risky.

In the sequence you propose the system is unavailable between the end of
step 1 and the end of

[2016-02-10 17:53] mtholder commented on #200
"Maybe that is OK for the dev system, if
downtime is only a couple of days, but it is risky and uncomfortable."

My suggestion was to deploy to dev, and No - It is not risky to have tree browsing not working on dev. That is the point of having a dev system - to test things before they are deployed to production.

[2016-02-12 02:01] jar398 commented on #199
mkdir ws-tests
  cp -p {phylesystem-api repo}/ws-tests/run_tests.sh ws-tests/
  cp -p {phylesystem-api repo}/ws-tests/opentreetesting.py ws-tests/
  git add ws-tests
then create test*.py files in ws-tests following patterns in taxomachine and phylesystem-api repos.

[2016-02-13 17:21] jar398 opened #201 "v3 API documentation"
First cut at v3 tree_of_life documentation is here:
https://github.com/OpenTreeOfLife/germinator/wiki/Synthetic-tree-API-v3

I just took the v2 documentation and made a few obvious changes, like node ids now being strings.
We need release notes as well; I haven't decided exactly where to put them but will start on them soon. It's important to keep track of any changes to the API so that they can b

[2016-02-13 18:27] jar398 commented on #201
Release notes here: https://github.com/OpenTreeOfLife/germinator/wiki/Release-notes-for-web-API-v3

[2016-02-14 21:02] jar398 opened #202 "Rename 'tree_of_life' plugin class to 'tree_of_life_v3', and remove 'graph'"
To avoid confusion (false positives, weird errors) in deployment and testing please remove the 'graph' class and rename 'tree_of_life' to 'tree_of_life_v3'.

The 'node_info' method should be part of the 'tree_of_life_v3' class.

Thanks

[2016-02-15 21:52] josephwb commented on #202
Done in tm-lite branch.

[2016-02-15 21:52] #202 closed

[2016-02-15 22:37] josephwb commented on #192
I think this is fixed with tm-lite. Could you close this @jimallman is you agree?

[2016-02-15 22:46] #195 closed

[2016-02-15 22:46] jimallman commented on #192
Yes, I think they're all consistent now.

[2016-02-15 22:46] #192 closed

[2016-02-15 22:48] #174 closed

[2016-02-15 22:49] #170 closed

[2016-02-15 22:54] jar398 opened #204 "Errors in request should yield 400 not 500 response"
Generally any error due to inputs (bad parameter names or values, expectations not met) should be a 400. 500 is reserved for when a logic error in the server itself is detected.

Not terribly high priority. I think there is some neo4j help for this.

    resp.text = {
      "message" : "Mandatory argument \"ot_node_id\" not supplied.",
      "exception" : "IllegalArgumentException",
      "fullnam

[2016-02-15 23:19] jar398 commented on #195
Great.
Do we have a naming convention for these ids? Currently we use opentree4.0
in some places, and draftversion4 in other places. Would be nice to use
same everywhere.

On Mon, Feb 15, 2016 at 5:46 PM, Joseph W. Brown <notifications@github.com>
wrote:

[2016-02-15 23:20] josephwb commented on #195
Not as far as I know; they come from the annotations json.

[2016-02-16 13:30] josephwb commented on #204
Hmm. Any missing non-optional arguments (like your example above) are handled by neo4j, not anything I do. I imagine it could be changed, but it would require some digging, and as you stated it doesn't seem to be a priority at the moment.

[2016-02-16 13:46] josephwb commented on #200
What is the consensus on this @kcranston @jar398? @mtholder seems against it, and I agree; seems like annoying backwards step for what will amount to a brief time window. I'll do whatever, of course.

[2016-02-16 14:07] josephwb commented on #204
Should this be merged with https://github.com/OpenTreeOfLife/treemachine/issues/179?

[2016-02-16 15:25] jar398 commented on #200
@josephwb If this were done I would not ask you to work on it, I would probably do it myself.

The time for doing this the right way has passed for a number of reasons.

[2016-02-16 15:25] #200 closed

[2016-02-16 15:30] jar398 commented on #204
Well #179 is in some sense done because errors *do* lead to 4xx OR 5xx
responses - you fixed that as far as I can tell, and I thank you for it.
This is a slightly different issue, selecting 4xx vs. 5xx properly.  OK if
I close 179?

I can't believe the arrogance of the neo4j people in dissing the HTTP spec,
which they've done in multiple ways.

Maybe fixing this can be combined with the switch fro

[2016-02-16 15:42] #179 closed

[2016-02-16 23:22] josephwb opened #205 "have ability to add non-taxon node labels to newicks"
Currently only taxon labels are applied to newick nodes.
e.g.
[code]

[2016-02-17 00:18] jar398 opened #206 "node_info and mrca methods should gather taxon fields into 'taxon':{...}"
I think this may be done already for mrca. Needs to be done for node_info as well.

- [ ] [documentation](https://github.com/OpenTreeOfLife/germinator/wiki/Synthetic-tree-API-v3#about_tree)
- [x] test in treemachine/ws-tests
- [ ] implementation in tm-lite branch

    {
      "node_id" : "ott241846",
      “taxon”: {
                 "ott_id" : 241846,
                 "name" : "Neognathae",

[2016-02-17 00:48] jar398 commented on #206
It looks like this may be the same as mrca with a single node_id, so code can be shared. Having nearest_taxon would definitely be nice.
(But I think we might want to keep this method separate for now.)

[2016-02-17 00:53] jar398 commented on #199
Tests for tree_of_life/about and tree_of_life/node_info are on the tm-lite-test-harness branch.  More to come.

[2016-02-17 01:41] josephwb commented on #205
I guess I should wait for @jar398 to give me the go ahead on this, since people have expressed that they want this, but none of the myriad docs explicitly discusses it.

[2016-02-17 03:22] josephwb commented on #163
Please explicitly describe how you want these data presented.

[2016-02-17 05:11] josephwb commented on #206
So the whole point of `node_info` was to do synthesis queries (support, etc.), not taxonomic queries (that is what taxomachine is for).
@jar398 _still_ have no clear idea on what you want for node_id. here is my (inevitably incorrect) guess:
[code]

[2016-02-17 12:48] josephwb commented on #197
Not sure why this service was slated for deprecation, but it works (as long as the appropriate files.opentree... directory exists). So this issue (fetch tree version) is satisfied.

[2016-02-17 12:48] #197 closed

[2016-02-17 12:51] josephwb commented on #184
Could this come in through the annotations json (or maybe some other file)? Storing this in the db is straightforward, and I imagine it could be an optional result from `tree_of_life/about`.

[2016-02-17 12:53] josephwb commented on #183
This seems done.

[2016-02-17 12:53] #183 closed

[2016-02-17 14:07] jar398 commented on #205
I think it's a good idea

-- apologies for brevity / using handheld gizmo --

On Feb 16, 2016, at 20:41, "Joseph W. Brown" <notifications@github.com>
wrote:

I guess I should wait for @jar398 <https://github.com/jar398> to give me
the go ahead on this, since people have expressed that they want this, but
none of the myriad docs explicitly discusses it.

—
Reply to this email directly or view it on

[2016-02-17 14:15] jar398 commented on #206
Node_id is the canonical node_id for the node. Usually but not nec. same as
the argument. Correct in your example

-- apologies for brevity / using handheld gizmo --

On Feb 17, 2016, at 0:11, "Joseph W. Brown" <notifications@github.com>
wrote:

So the whole point of node_info was to do synthesis queries (support,
etc.), not taxonomic queries (that is what taxomachine is for).
@jar398 <https://git

[2016-02-17 14:17] jar398 commented on #184
Not urgent, I will consider it next week. Part of the issue about synthesis
outputs.

-- apologies for brevity / using handheld gizmo --

On Feb 17, 2016, at 7:51, "Joseph W. Brown" <notifications@github.com>
wrote:

Could this come in through the annotations json (or maybe some other file)?
Storing this in the db is straightforward, and I imagine it could be an
optional result from tree_of_life/a

[2016-02-17 15:36] mtholder commented on #184
We can easily produce a list of subproblem ids in propinquity, that would address this issue most directly.

But, we could also add a subproblem id to every node in the annotations JSON produced in the propinquity pipeline (which I think is what @josephwb is suggesting). That might be useful in the tree browser if we later add functionality that lets a user browsing the tree to download the subpro

[2016-02-17 16:15] jar398 opened #207 "Trouble spots in v3/tree_of_life API"
* Support `node_id` in `nearest_taxon` in `/node_info` test
    * [ ] doc
    * [x] test
    * [x] implemented
* `tax_sources` should be strings in `/node_info`, `/mrca`
    * [x] decision
    * [ ] change doc
    * [x] test
    * [ ] implemented
* Add `tax_sources` to taxon blobs?
    * [ ] decision: everywhere (e.g. `/mrca`) or just some places (arguson)
    * [ ] change doc
    * [ ] test
    *

[2016-02-17 21:56] josephwb commented on #205
Old:
[code]
New:
[code]

[2016-02-17 21:58] jimallman commented on #205
Thanks for the "before" and "after" examples. I was unclear on the consequences of this change. Do I understand correctly that this isn't just a matter of labeling, but of including entirely new nodes (e.g. `mrcaott246ott5481` above)?

[2016-02-17 21:58] jar398 commented on #205
we could make it an option if there are worries about clutter or space or
compatibility.
{"include_nontaxon_labels" : true , ...}
not sure how to decide this.

On Wed, Feb 17, 2016 at 4:51 PM, Joseph W. Brown <notifications@github.com>
wrote:

[2016-02-17 22:00] josephwb commented on #205
@jimallman the trees are the exact same except for labelling.

[2016-02-17 22:02] kcranston commented on #205
+1 for including them
Ambivalent about option to exclude. Hold off until it becomes a problem? Would be a compatible change.

[2016-02-17 22:02] josephwb commented on #205
"nontaxon" nodes could be part of the query; a reason for them to be returned.

[2016-02-17 22:15] josephwb commented on #206
i have _no idea_ what you mean by this comment. you like it? i don't really expect that. i am sure there will be discussion regarding the "synth_data" label; please tell me what would be more appropriate. you probably are not happy with the separated keys and source_id_map. please comment on them so i know what you want.

[2016-02-17 22:21] jimallman commented on #205
thanks, my Newick-fu is lacking :bowtie:

[2016-02-17 22:23] josephwb commented on #205
Here is subtree. Before:
[code]
After:
[code]

[2016-02-17 22:24] josephwb commented on #205
Deployed on test for testing. Let me know if you want me to revert things.

[2016-02-17 22:24] jar398 commented on #205
It would be compatible in the sense of having a /v3 URL instead of a /v2
URL.  But it's easy to imagine clients used to the v2 Newicks barfing on
the v3 Newicks.  That's OK with me, just cautioning on "would be a
compatible change"

But I have no strong feelings.

On Wed, Feb 17, 2016 at 5:02 PM, Joseph W. Brown <notifications@github.com>
wrote:

[2016-02-17 22:27] josephwb commented on #205
Please formulate some definite feelings, strong or no; otherwise how can this possibly move forward (or not)?

[2016-02-17 22:30] jimallman commented on #205
Just FYI, I've imported both the old and new Newick strings from [this comment above](https://github.com/OpenTreeOfLife/treemachine/issues/205#issuecomment-185425098), on **devtree**:

https://devtree.opentreeoflife.org/curator/study/edit/tt_35/?tab=trees

[2016-02-17 22:55] jar398 commented on #205
Look above for the strongest uncontradicted opinion.  (It's "+1 for
including them
Ambivalent about option to exclude. Hold off [on making them optional]
until it becomes a problem".)

A different, stronger, better supported opinion *might* come along later,
e.g. from Mark or one of our users. So just write the code so it's easy to
turn on or off. No big deal.

Getting this right immediately is no

[2016-02-18 01:41] josephwb commented on #205
It _is_ a big deal when I get lambasted for not doing exactly what is expected. The views expressed above are nowhere near the strong gatekeeper consensus you expressed during the hangout. I'll not be making any more decisions; tell me what you want, and I'll do it.

Be explicit:
1. Do this or not?
2. If yes, should there be a user argument to turn on/off?
3. If yes, what is the _exact_ name of th

[2016-02-18 01:49] josephwb commented on #163
Are there design decisions made about this? Gathering the data is easy; how do you want it returned Arguson is a possible model.

[2016-02-18 02:01] josephwb commented on #207
I don't understand "tax_sources should be strings in /node_info, /mrca".

Does this mean you want:
[code]
instead of:
[code]
Jim asked for the latter; I thought it was for everything (not just arguson). The former version was just lazy, really.

Do you want me to revert it to the single string?

[2016-02-18 02:04] jar398 commented on #206
The purpose of node_info, and the synth_info details, are off topic and
should be taken up elsewhere

node_id is also off topic but it seems straightforward to me so I'll try
again here. I assume your question is why should the node_id be returned,
if it's provided as a parameter. Suppose you ask for node_info of
mrcaott123ott456, and that node is known to tm-lite canonically as
mrcaott789ott246.

[2016-02-18 02:05] #182 closed

[2016-02-18 02:07] jar398 commented on #205
Now that we're no longer pressing to get a stable API by Saturday, I
suggest you not do anything until there has been proper review of a
proposed spec.​

[2016-02-18 02:08] jar398 commented on #163
Design hasn't happened yet. I have assigned this issue to me and will hand it back to you when it's time to implement something.

[2016-02-18 02:11] jar398 commented on #207
It should be as documented in the arguson doc
https://github.com/OpenTreeOfLife/germinator/wiki/%22Arguson%22-format

I'll prepare an API spec that we can talk about and (if no one objects)
work from

[2016-02-18 02:13] josephwb commented on #205
Where does the spec come from? Me? Does 1-4 above, together withe examples, suffice? If not, what? How is the spec reviewed?

[2016-02-18 02:18] jar398 commented on #205
I will prepare a spec​. It will become a github issue just like everything
else. If you want to prepare a spec too, you may, and we can compare them
when the time comes.  But that is up to you.

Since you don't want to proceed without guidance, I have assigned this
issue to me.

[2016-02-18 02:25] jar398 commented on #207
Given that we are no longer in a crazy deadline crunch, and that this issue has elicited so little interest, I think it makes sense to step back and look at the API as a whole, rather then deal with a bunch of little issues. I plan to draft an informal API spec that we can discuss & work from. I'll submit it as a separate issue when it's ready. This will probably be after the workshops are over; I

[2016-02-18 04:09] jimallman commented on #207
Sorry for the confusion. At the time, I didn't realize that a taxonomic source could be a bare URL and not part of a recognized taxonomy.

[2016-02-18 14:15] josephwb opened #208 "treemachine plugin versions"
There has been some discussion on gitter about treemachine (tm-lite) plugin versions.

Plugin versioning has, to my knowledge, _never_ resided with treemachine. Plugin classes are named `tree_of_life` (synthetic tree queries), `GoLS` (webapp, mostly arguson via `getSyntheticTree`), and the deprecated `graph`. Serving locally I can do curl calls to these services using:
[code]
and
[code]
On product

[2016-02-18 14:18] #169 closed

[2016-02-18 14:19] josephwb commented on #178
I believe this was fixed a while ago.

[2016-02-18 14:19] #178 closed

[2016-02-18 14:21] josephwb commented on #172
Closing since this is deprecated.

[2016-02-18 14:21] #172 closed

[2016-02-18 14:23] #149 closed

[2016-02-18 14:29] josephwb commented on #130
I am pleased to say this can finally be closed.

[2016-02-18 14:29] #130 closed

[2016-02-18 14:30] #72 closed

[2016-02-18 14:32] josephwb commented on #79
Deprecated.

[2016-02-18 14:32] #79 closed

[2016-02-18 14:33] #63 closed

[2016-02-18 14:33] #10 closed

[2016-02-18 14:36] #99 closed

[2016-02-18 14:36] #126 closed

[2016-02-18 14:40] jar398 commented on #208
Naming and semantics are different issues.  The same methods are called by different names in Java/Neo4j and in apache. There's nothing contradictory about that. Method identity comes from semantics. We can talk about the naming independently of semantics.

There are v2 methods and v3 methods.  For apache these are known as v2/tree_of_life/* and v3/tree_of_life/*.  For java these are called tree_o

[2016-02-18 15:14] jar398 commented on #208
(updated detail in previous comment: adding v2 to tm-lite would not be practical at this point, although we could have done it had we planned for it long ago. Instead I would have added v3 compatibility on top of treemachine in order to get v2/v3 coexistence. obviously as the propinquity-based tree gets closer the value of this proposition decreases.)

[2016-02-18 15:43] josephwb commented on #208
I created this issue because of confusion over what exactly "v1" was, and statements like "i have no idea what happened to v2/X". You control all of this, but most of these statements were directed at or involved me.
If you want _both_ v2 and v3, you should have asked me to create a _new_ tree_of_life_v3 class rather than rename it (which effectively deletes v2).

[2016-02-18 15:44] josephwb commented on #208
It is relatively straightforward to drop in a "new" tree_of_life class for the v2 services.

[2016-02-18 16:13] jar398 commented on #208
We cannot support the v2 services without implementing integer node ids,
and that idea was voted down (#200). It would certainly be easy to put code
behind the v2 URLs, but it would not be 'the v2 services' because it would
not support v2 semantics (i.e. integer node ids). Any behavior behind the
/v2/ URLs MUST be compatible with current clients. If it can't be made so,
the method must be deleted.

[2016-03-09 00:16] jimallman opened #209 "No entries in `sourceToMetaMap` for "rootward" nodes"
In calls to `getSyntheticTree`, it seems we're missing information about non-taxonomy sources for the nodes in the "rootward path" which appears left of the target node. For example, [click the "i" (info) icon for Bacteria while on the page for its descendant "aquifer1"](https://tree.opentreeoflife.org/opentree/argus/opentree4.0@233952/aquifer1). The property window fails to display because its su

[2016-03-09 12:16] josephwb commented on #209
Whoops. Thanks for finding this @jimallman. I'll fix it this morning.

[2016-03-09 14:34] josephwb commented on #209
@jimallman Below is how things currently stand on test (no changes made). So I think this was fixed with the tm-lite rewrite?
[code]

[2016-03-09 15:17] jimallman commented on #209
Yes, this looks right. Further displayed information is fetched (via AJAX) as needed. You can see this working on **ot30**: https://test.opentreeoflife.org/opentree/opentree4.1@ott4750919/bacterium-ES1D2

[2016-03-09 15:38] jar398 commented on #207
This issue is overtaken by https://github.com/OpenTreeOfLife/germinator/issues/48 (although there are a few design questions mentioned above, such as whether to add unique_name everywhere taxon info is returned, that still need to be captured there)

[2016-03-09 15:38] #207 closed

[2016-03-09 15:39] jar398 commented on #201
Overtaken by https://github.com/OpenTreeOfLife/germinator/issues/48

[2016-03-09 15:39] #201 closed

[2016-03-09 15:50] jar398 commented on #143
I just checked and it appears this bug never got fixed; and it is a bigger problem now that we are dealing with trees whose ids do not begin with "tree".

I guess this will be mooted by propinquity + tm-lite

[2016-03-15 12:57] kcranston opened #210 "returning unique_name or not?"
The [description of the taxon-blob](https://docs.google.com/document/d/1XcgoQGJVxSgk-yKB-NAayQNZ2_QUQuw9_RIvbR2LeTw/edit#heading=h.erwu9b1kc9zx) states that unique_name should be an empty string if the same as name. The description of the blob also states that fields should be absent if no value, not returned as empty string. Here are three options for the case where the unique name = the name:

1

[2016-03-15 14:00] jar398 commented on #210
A taxon's 'unique name' is a string. All taxa have a 'unique name'. No two taxa have the same 'unique name'. The 'unique name' always has the name as a prefix. For about 99.2% of taxa, the 'unique name' is identical to the name.

In the OTT taxonomy file, there is a column 'uniqname' which is empty if the unique name is the name, and otherwise is the unique name. This design was inherited from pre

[2016-03-15 14:03] snacktavish commented on #210
I like option 3.

[2016-03-15 14:09] josephwb commented on #210
But that is a rule that you made up and no one would ever know without reading the documentation, and why force someone to read documentation when it is unnecessary? I don't buy that this is true redundancy, but even if it were, as @bredelings has so eloquently stated before "are we trying to save characters on the internet?".

Option 3 seems like the only reasonable choice.

[2016-03-15 15:29] jar398 commented on #210
If I tell you today that I like cheese, and then tomorrow I don't tell you that I like cheese, do you then conclude that I no longer like cheese?

Options 1, 2, and 3 are all reasonable. The purpose of my comment was to give the reasons, which I had no reason to think were known, not to advocate. I have already said 3 is fine with me.

[2016-03-15 15:48] josephwb commented on #210
What I am saying is that the situation is more like one where you _never_ told me you like cheese. Should I could read the documentation to figure out what you default cheese preference is?

I'm not sure options be considered reasonable if they are confusing to people on the project.

[2016-03-16 00:05] kcranston commented on #210
Since @jar398 does not feel strongly about any of the options, and the rest of us like option 3, let's go with that. The taxon blob will always return a unique_name field and the contents of that field will either be name (if unique_name==name) or unique_name (if unique_name!=name).

[2016-03-16 12:06] #210 closed

[2016-03-17 17:22] jar398 opened #211 "Implement partial v2/v3 compatibility layer"
As discussed in Gainesville, it would be nice to accommodate users of the v2 APIs by allowing some use of v2 methods following the v3 "flag day". There may be some commonly used functionality that is easy to retrofit, such as the subtree method where the node is specified using an OTT id (result newick).

I've prototyped this and it is feasible. It involves creation of a new plugin (for resolution

[2016-03-20 20:44] #206 closed

[2016-03-21 14:59] jar398 commented on #204
I've just completed a tour of the neo4j source code. Neo4j returns a 400 response whenever the plugin method throws an exception of one of the following two types:

    org.neo4j.server.plugins.BadPluginInvocationException
    org.neo4j.server.rest.repr.BadInputException

BadInputException has three constructors:

    public BadInputException( Throwable cause )
    public BadInputException( String

[2016-03-21 19:09] josephwb commented on #204
Is `IllegalArgumentException` equivalent? This is what has been used in the past.

[2016-03-21 19:25] jar398 commented on #204
According to my reading of ExtensionService.java and OutputFormat.java in
the neo4j sources, only those two exception classes will yield a 400.
Everything else yields a 5xx or some other status code such as 409 that is
not appropriate for this situation.

If you've seen a 400 response from IllegalArgumentException, I'd be very
interested in that.

It looks like SyntaxException also turns into a ba

[2016-03-21 19:28] josephwb commented on #204
ok, thanks

[2016-03-21 19:57] josephwb commented on #204
It looks like `IllegalArgumentException` just calls `BadInputException`:
[code]

[2016-03-21 20:02] josephwb commented on #204
For single node queries (node_info, subtree) do we want to return a `BadInputException` or a `TaxonNotFoundException` since only a single node is involved?

[2016-03-21 20:07] jar398 commented on #204
It doesn't matter to me whether BadInputException or a subclass of it is
thrown; as far as I'm concerned that's an internal implementation that I
don't want to have to worry about. I have no idea what
TaxonNotFoundException is, is it a subclass of BadInputException?  Multiple
exception types are probably not needed internally by the code, and I can't
imagine how an API client would use it. But do

[2016-03-24 17:25] jar398 commented on #205
Current behavior:
    curl -X POST https://devapi.opentreeoflife.org/v3/tree_of_life/subtree -H "content-type:application/json" -d '{"node_id":"ott803675"}'
    {  "newick" : "(Gavia_stellata_ott1057044,((Gavia_arctica_ott1085739,Gavia_pacifica_ott651474)mrcaott651474ott1085739,(Gavia_immer_ott1057518,Gavia_adamsii_ott90560)mrcaott90560ott1057518)mrcaott90560ott651474)Gavia_ott803675;"}

The answe

[2016-03-24 19:22] kcranston commented on #205
In response to @josephwb questions:
1. Do this or not? **yes**
2. If yes, should there be a user argument to turn on/off? **yes, there should be an option**
3. If yes, what is the exact name of the argument? **include_all_node_labels**
4. If yes, what is the default value? **true** (i.e. the default is the v2 behaviour)

[2016-03-24 19:31] jar398 commented on #205
I think the default would be false, since in v2 we didn't have all the mrca
labels.

I'm assuming the flag would only control the mrca labels, not the internal
ott labels.

This way, with the flag false, the v3 behavior would be the same as the v2
behavior: yes ott internal labels, no mrca internal node labels.

[2016-03-24 19:36] josephwb commented on #205
Is the goal to get this implemented for the current release? Seems low priority, as anyone getting trees is likely to throw out _any_ internal node label. Plus, it feels awkward to have 2 label args:

1. `label_format`
2. ` include_all_node_labels`

I'm inclined to just return all the labels and let the user dispose of them if they wish. Getting rid of the `mrcaottXXXotYYY` labels but not the `ott

[2016-03-24 20:04] jar398 commented on #205
There is code in the tree_of_life (v2) plugin in the v3 branch to throw
away the mrca labels.

label_format only applies to OTT nodes.  include_all_node_labels only
applies to non-OTT nodes.  So I see what you mean but technically they are
orthogonal.

[2016-03-24 20:31] jar398 commented on #211
This is implemented and tested, and running on devapi. The only documentation needed should be release notes. The main incompatibility is that all the graph methods other than node_info have been dropped. There are bunch of incompatibilities that most clients probably won't notice, such as the treatment of unresolvable ids.

It would be nice to get it exercised beyond what the tests do, but I don'

[2016-03-24 21:14] jar398 commented on #209
Sounds like this is finished. Closing.

[2016-03-24 21:14] #209 closed

[2016-03-25 01:02] #208 closed

[2016-03-25 12:22] #148 closed

[2016-03-25 13:25] #204 closed

[2016-03-25 13:27] #140 closed

[2016-03-25 13:31] #125 closed

[2016-03-25 13:32] #151 closed

[2016-03-25 13:32] #122 closed

[2016-03-25 13:32] #133 closed

[2016-03-25 13:33] #159 closed

[2016-03-25 13:34] #158 closed

[2016-03-25 13:34] #157 closed

[2016-03-25 13:35] #92 closed

[2016-03-25 13:35] #91 closed

[2016-03-25 13:36] #104 closed

[2016-03-25 13:36] #48 closed

[2016-03-25 13:37] #61 closed

[2016-03-25 13:37] #74 closed

[2016-03-25 13:37] #82 closed

[2016-03-25 13:37] #83 closed

[2016-03-25 13:37] #78 closed

[2016-03-25 13:38] #154 closed

[2016-03-25 13:38] #155 closed

[2016-03-25 13:38] #156 closed

[2016-03-25 13:39] #143 closed

[2016-03-25 13:40] #105 closed

[2016-03-25 13:40] #173 closed

[2016-03-25 13:50] #107 closed

[2016-03-25 13:51] #84 closed

[2016-03-25 13:51] #86 closed

[2016-03-25 13:52] josephwb commented on #131
Do we know if this is satisfied?

[2016-03-25 13:52] #90 closed

[2016-03-25 13:53] #160 closed

[2016-03-25 13:53] #135 closed

[2016-03-25 13:54] #180 closed

[2016-03-25 13:56] #139 closed

[2016-03-25 13:56] josephwb commented on #132
I guess the answer is no.

[2016-03-25 13:56] #132 closed

[2016-03-25 14:52] jar398 commented on #131
I don't know. I would have to read the source code. The way to guarantee it would be for both services are using the same code for label generation. Personally I don't consider this very important, but will put it on my to-do list.

[2016-03-25 14:56] jar398 commented on #98
I don't see that we can close it because we don't have such a service (to my knowledge) and haven't decided not to do it. I think there has been some discussion recently, I forget where. It will require propinquity support. Obviously not a v3 release thing. Assigning this to me so you ( @josephwb ) don't have to worry about it.

[2016-03-25 14:58] josephwb commented on #131
treemachine uses the ot-base function `newickName`. So, easy to use in taxomachine (if not already).
I think this is pretty important. As far back as the hackathon people complained about inconsistent names.

[2016-03-25 15:32] jar398 commented on #131
If it's in ot-base the fix should be pretty easy. I'll assume the
treemachine part is done and that taxomachine has to be checked, which I
can do. Probably easier to just leave this issue open even though you could
argue it's in the wrong repo.

[2016-03-25 15:33] jar398 commented on #105
Can you remind me how this got resolved?

[2016-03-25 16:04] jar398 opened #215 "Delete "terminal" properties when the value starts with "ott""
See https://github.com/OpenTreeOfLife/propinquity/issues/11

This is a temporary workaround I hope, and may be unnecessary if propinquity gets changed in time for the v3 release.

[2016-03-25 19:43] jar398 opened #216 "Bad property value for was_constrained and was_uncontested"
The value is `{}` instead of a boolean. It is documented to be a boolean [here](https://github.com/OpenTreeOfLife/opentree/wiki/Conflict-and-synthesis-file-formats).

E.g.

    curl -X POST https://devapi.opentreeoflife.org/v3/tree_of_life/node_info -H "content-type:application/json" -d '{"node_id":"ott396446","include_lineage": true}'

I would actually prefer that these fields be suppressed altog

[2016-03-25 20:04] josephwb commented on #216
i had no idea that a new property was going to be involved in the new annotations, or would have made sure that it works.

[2016-03-25 20:32] jar398 commented on #216
Yes, I understand.

To insulate treemachine against other propinquity vagaries, I've modified getSynthMetadataAndUniqueSources to only transfer properties that belong to an approved set. So we should be OK even if even more stuff gets added that we don't anticipate.

This is in the v3 branch and running on devapi.

[2016-03-25 20:32] #216 closed

[2016-03-25 20:37] josephwb commented on #216
Ok, so I don't have to do anything?
On ingest everything has been expected to be a string (or can be converted to a string).

[2016-03-25 20:49] jar398 commented on #216
You don't have to do anything.
(issue closed generally means nobody has to do anything more on it.)

[2016-03-25 21:02] jar398 commented on #215
Tests are now showing no source node ids begining "ott"

[2016-03-25 21:02] #215 closed

[2016-03-26 02:30] jar398 commented on #131
I've read through the code and it looks like both call GeneralUtils.newickName for name quoting, but the logic is different. treemachine GraphExplorer.getNodeLabel seems to have the right logic (the treatment of quotes), while taxomachine Taxonomy.getNodeLabel looks wrong.

I believe this is therefore not a treemachine issue at all, but rather a taxomachine issue, and taxomachine should be changed

[2016-03-26 02:32] josephwb commented on #131
thanks for tracking this down.

[2016-03-26 12:28] jar398 commented on #131
I spoke too soon. There seem to be at least two distinct problems. Here's what we have currently, for one example:

* treemachine: `'SAR324_clade_Marine_group_B_ott5247929'`
* taxomachine: `'SAR324 clade(Marine group B)'_ott5247929`

Taxomachine seems pretty clearly wrong in putting the `'` before the OTT id and not after, so I have fixed that. (But I don't know newick syntax, and maybe ' in the m

[2016-03-26 13:52] mtholder commented on #131
see also https://github.com/OpenTreeOfLife/treemachine/issues/147

[2016-03-26 14:40] jar398 commented on #131
Thanks for the reference, I had forgotten about that discussion. I would like to do as you say and not convert space to underscore. Now would be the time to do it, with the v3 switchover. If we don't do it now, it may have to wait to v4. I can imagine the change breaking some clients.

The shared code:
https://github.com/OpenTreeOfLife/ot-base/blob/master/src/main/java/org/opentree/utils/GeneralUt

[2016-03-26 19:44] josephwb commented on #131
`newickName` is definitely doing replacing that it should not be. This is an easy fix, if we just decide on whether to:

1. always quote
2. quote only when illegal characters other than ' ' are present

It is standard practice that if labels contain only ' ' as illegal characters, then these are replaced by '_' and the label is not quoted. This is not aesthetically pleasing, but it is what is typi

[2016-03-26 21:54] jar398 commented on #131
This is certainly a mess.  Can we agree that invertibility is a goal, and
recognize that we have names that contain both spaces and underscores, so
we cannot fold space and underscore to the same character in any context.
I think we should be able to agree that for format="name":

Aa -> Aa  no quoting needed.
Aa bb -> Aa_bb   by convention.
Aa_cc -> 'Aa_cc'   quoting needed because otherwise _ wil

[2016-03-27 01:46] josephwb commented on #131
This all sounds good.

[2016-03-27 02:15] jar398 commented on #131
Right now I favor space as separator.  Take name, append ' ottNNN', check
for presence of characters outside the safe set (which is at minimum
alphanumeric and space), then either quote or change spaces to _,
accordingly.

This keeps 99% of labels looking the way they currently do. People who want
to pull out the OTT id can still use a pretty simple regular expression
(look for ott[0-9]+'?$), with

[2016-03-28 01:11] jar398 commented on #131
treemachine has its own JadeNode class which has

    ret.append(this.name.replaceAll(this.offendingChars,"_"));

which is not so good.

treemachine GraphExporter has src/main/java/opentree/GraphExporter.java has all sorts of code to convert characters to underscore (although maybe we don't use this any more?).

taxomachine uses JadeNode from the 'jade' repo, which does not do any replaceAll, it j

[2016-03-28 01:28] josephwb commented on #131
GraphExporter is not used anymore. Having that deprecated JadeNode class is annoying and should change, although maybe hold off on replacing it since we are up against the clock? Seems instead we should just patch it in place now and replace later.

[2016-03-28 01:31] jar398 commented on #131
agreed on all counts.​

[2016-03-28 01:54] josephwb commented on #131
Ok. I see that you assigned yourself to this, and I see you are familiar with all the code, so should I assume you will fix this, or I?

[2016-03-28 02:06] jar398 commented on #131
I fixed both taxomachine and treemachine (in the v3 branches); both now yield 'SAR324 clade(Marine group B)_ott5247929' for the example given above. As far as I know we now have consistency.

The question of invertibility is separate and maybe it should be its own issue. To get invertibility, we would have to treat _ as a character that needs to be quoted (since otherwise both space and _ would go

[2016-03-28 19:00] jar398 commented on #205
include_all_node_labels is implemented (v3 branch on devapi) as @kcranston requested above.

I'm not too happy about the flag name.
I'm groping for something short along the lines of 'include_id_when_unnamed' or 'use_id_for_label_when_node_is_unnamed' since the flag says whether the id should be used as the label when the node has no name (OTT id), instead of nothing at all. (For named nodes the l

[2016-03-28 19:37] #211 closed

[2016-03-29 01:21] jar398 opened #217 "How did treemachine compute total_OTU_count ?"
The statistics file has a comment "total_OTU_count calculated from Processed_newicks/*.tre",

Does anyone ( @josephwb @blackrim ) know how? I'm trying to get a comparable number out of propinquity, and need to know what to ask for. When I do a calculation that I would think is comparable, I get a wildly different number (60000 vs. 40000).

The propinquity issue is here: https://github.com/OpenTree

[2016-03-29 01:48] josephwb commented on #217
This was calculated using otcetera (not treemachine), and was the number of unique terminal taxa in the input trees. These "terminals" need not be species, and need not have made it into the final synthetic tree.

[2016-03-29 01:55] josephwb commented on #217
BTW I am positive we had this discussion before. Perhaps there is a log/issue somewhere. It would likely include the PNAS table. HTH.

[2016-03-30 00:49] #217 closed

[2016-03-31 18:44] mtholder opened #218 "offer options that prune the `subtree` method's response to the species level"
Some users won't want to deal with subspecies/varieties or other taxa under the species level. It would be nice to offer the ability to prune on the server side.
See https://groups.google.com/forum/#!topic/opentreeoflife/WEWMOtFZFjY

[2016-04-07 14:59] #131 closed

[2016-04-12 20:25] hyanwong commented on #147
Off the back of OpenTree v5 and the new naming scheme, I suggest that it might be useful if taxon names in the downloadable newick file did not contain braces and commas (and possibly not colons either). This makes it easy to parse the newick file using regular expressions and the like, without having to parse the actual tree structure, or parse the quoting of labels. That makes it a lot faster an

[2016-04-12 20:37] jar398 commented on #147
There's an issue for invertibility:
https://github.com/OpenTreeOfLife/germinator/issues/76

[2016-04-12 21:14] mtholder commented on #147
OK @hyanwong I have posted a version of the tree with simplified names at http://phylo.bio.ku.edu/ot/opentree5.0_simplified_names.tre.gz and a log of the edits at http://phylo.bio.ku.edu/ot/munging_log.txt

We'll still need to work this step into the pipeline and figure out a statndard name for this output. @bredelings  and I both came up with tools to do this. His `otc-relabel-tree ex_2_tree1.tre

[2016-04-12 21:24] mtholder commented on #147
I should have mentioned that I replaced a few other characters that other users might want to avoid

[2016-04-13 08:11] hyanwong commented on #147
@mtholder thanks. Yes, putting the step into the pipeline would be useful, and documenting it. @jar398 I guess it is the braces that are most likely to cause problems - . An ugly solution would be to e.g. replace () with <> (gt & lt signs only appear in 10 taxa on the tree) or {} (no current taxa contain curly braces). But that seems rather hacky.

In the http://phylo.bio.ku.edu/ot/munging_log.txt

[2016-04-21 19:53] jar398 opened #221 "Use GET instead of POST where possible"
The HTTP spec says to use GET when the operation has no side effects. GET is superior to POST because

 - it is easy to cache
 - the arguments show up in the http logs

Idiotically, and in defiance of the spec, neo4j provides no way for plugins to handle GET requests, other than what it calls "unmanaged plugins".  What they mean by "management" is just a thin layer of parsing and checking argument

[2016-05-05 22:13] kcranston commented on #163
Pinging this issue again. It came up during the Phylotastic call today - they are returning OpenTree trees from the `induced_subtree` and `subtree`, and would like to provide a list of sources for users. For `subtree` with arguson, this info is already there, but not for `subtree` with newick, or for `induced_subtree`.

Couple of design questions:

* return the full support map, or simply a list o

[2016-05-09 14:34] jar398 commented on #163
Yes, I think just a list of study ids as additional result, and then maybe
we can have a separate OTI method that takes this list as input, and
returns study metadata as output?

On Thu, May 5, 2016 at 6:13 PM, Karen Cranston <notifications@github.com>
wrote:

[2016-05-09 18:06] kcranston commented on #163
To clarify, which of the following are you suggesting:

1.  We return a list of studyIDs to the user, and then provide a separate (new) service that they can use to look up publication information for a list of studyIDs
2.  We perform this lookup before returning the data to the user, so that they get a list of publication references and / or DOIs with their subtree

[2016-05-09 18:52] jar398 commented on #163
1.

[2016-05-09 22:21] jar398 commented on #163
1. Should the tree_of_life methods in question always return this
extra information, or only when requested?

2. Should the methods return a list of annotations, or a
list of trees, or a list of studies?

  - Annotations: It's weird to return individual annotations (available
through arguson)
    without indication of which node is annotated.  Unprofitable complexity.
  - Trees: If a list of trees

[2016-05-10 00:25] kcranston commented on #163
I am mostly concerned with providing a citation list along with a subtree so that data contributors get credit. People can request arguson if they want gory details. Also, given this use case, I think we should at least consider returning more information than our internal study identifier.

As for which types of annotations get included in the list? Definitely support, and definitely not terminal

[2016-05-10 00:37] jar398 commented on #163
Treemachine doesn't have access to any 'more information'; only OTI has the
DOI and reference. (well, and phylesystem.) Having a single service that
returns both kinds of information could be done, but it's an architectural
nightmare (errors, testing, configuration, deployment...) given the way
things are designed now. Is two method calls really out of the question?
They would simply be passing th

[2016-05-10 00:45] jar398 commented on #163
rather than make treemachine call out to OTI, I guess it could scan
phylesystem, or load a file prepared for it by some script.  that would
work, but again makes things more fragile (installing peyotl, rerunning the
script when a new tree is deployed, etc.)

[2016-05-10 13:53] kcranston commented on #163
I am going to send an email to the opentreeoflife group to see what people think. We also want to implement this through the tree browser 'download subtree' link, where requiring a second call would be really awkward.

[2016-05-10 15:12] jimallman commented on #163
Yes, or it would be easy for the tree browser to fetch the main subtree, then fetch and incorporate more information.

[2016-05-10 17:50] jar398 commented on #205
@kcranston This issue just needs documentation and test cases and it will be done. Shall we (I) proceed?

[2016-05-10 21:23] jimallman commented on #205
Do we want to expose this option in the webapps, perhaps as a checkbox? Or a drop-down, if there are more than two meaningful choices.

[2016-05-10 21:44] jar398 commented on #205
I thought we would just leave it in the API.  It's sort of an advanced
feature

[2016-05-10 22:17] jimallman commented on #205
Sounds good to me.

[2016-05-13 16:32] jar398 opened #222 "Treemachine could manage multiple trees"
We've been talking about this for a long time, and I think there has been some implementation work, but I can't find any issue for it, so creating one now.

I'd be interested in hearing the use cases for this feature before going much farther with it.

[2016-05-13 16:35] jar398 commented on #199
There are now v2 and v3 tests, at least one for each method. I think they mainly just check the syntax of the result rather the particular values in it, but I'm satisfied with the result for now.

[2016-05-13 16:35] #199 closed

[2016-05-13 16:50] jar398 commented on #186
Not sure what to do with this one. If we _know_ a taxon is extinct, it is marked that way, and excluded from synthesis. That constitutes part of a solution, but this feature was in place when this issue was first filed. That means this issue is about taxa that we know about but _don't_ know are extinct. There is no technical fix to that problem; we just have to harvest more knowledge.

If the requ

[2016-05-13 16:50] #186 closed

[2016-05-13 16:56] jar398 commented on #177
README.md is in pretty good shape.  For the wiki, rather than delete or reorganize, I just added a disclaimer to the wiki home page.

[2016-05-13 16:56] #177 closed

[2016-05-13 16:56] hyanwong commented on #186
I can't remember the email thread, but I suspect that it was a request for 2 trees, (a) the current one, and (b) one with extract taxa also present. I don't need (b) at the moment, but perhaps others do. I think one of the points was to have a standard, easily parsable way to flag up extinct taxa in newick (b) without having to look in taxonomy.tsv. My suggestion was to use a plus sign, like the c

[2016-05-13 17:15] jar398 commented on #186
Doing this would require two different synthesis runs and two different
trees; annotating a single tree won't work because the presence of the
extinct taxa could change the topology.

As I say this should be filed with either peyotl, otcetera, or propinquity.
(if it isn't filed it will be forgotten about.)

[2016-05-13 17:18] jar398 commented on #163
Waiting to hear back from @kcranston on the outcome of the consultation.

[2016-05-17 13:30] mtholder commented on #186
"Doing this would require two different synthesis runs and two different
trees" I suspect that we'd want to just prune the fossils from the full tree (once we produce a tree that has fossil taxa on it).
So, while we *could* do separate runs and produce different summary trees (and @jar398  is certainly correct that the inclusion could affect the topology for the extant taxa), I suspect that we wou

[2016-06-11 21:03] jar398 commented on #163
Since the PR was posted for a while, and is now merged, I take it that the solution that I implemented is satisfactory.  I'm closing the issue.

[2016-06-11 21:03] #163 closed

[2016-06-11 21:08] jar398 commented on #163
Followon issue is here: https://github.com/OpenTreeOfLife/oti/issues/54

[2016-06-22 20:07] jar398 opened #225 "Fix the child/parent induced subtree problem"
as noted here:
https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs#induced_subtree

and here:
https://github.com/OpenTreeOfLife/feedback/issues/104

[2016-06-22 20:18] josephwb commented on #225
? This is not a problem at all; it is working now.

[2016-06-22 20:21] jar398 commented on #225
Excellent! I was just copying the issue over from the feedback repo. Will close both issues.

[2016-06-22 20:21] #225 closed

[2016-06-22 20:23] josephwb commented on #225
Note that v2 would return the tree of _valid_ ids as well as list which ids are bad. The v3 does not return any tree if _any_ of the ids are bad (it just tells you which ones are bad).

[2016-06-23 02:40] jar398 opened #226 "Deal with missing OTT ids better"
For induced_subtree and mrca methods, we yield a 400, where in the v2 API we returned the list of missing ids. In spite of pre-release review, this has turned out to be an inconvenience for users. We need to either restore the not-an-error-on-missing-id behavior, or introduce a validation service that people can call beforehand as a filter.

[2016-06-23 02:42] jar398 commented on #225
Yes of course I know that, I'm the one who made the change. The problem has been under discussion for a while now, but there hasn't been an issue for it, so I just created one: https://github.com/OpenTreeOfLife/treemachine/issues/226

[2016-06-23 03:21] josephwb commented on #225
I believe _I_ made the change, but regardless I was just making sure that this was still on the radar.

[2016-06-23 14:13] jar398 commented on #225
We both made the change; you did it in treemachine, I did it in taxomachine.

[2016-07-26 14:40] kcranston commented on #98
Can resurrect this issue now that propinquity outputs a list of broken taxa in `/labelled_supertree/broken_taxa.json`? Not sure that treemachine is the right repo, though. Thoughts on how we should import & serve this information?

[2016-07-26 15:51] jar398 commented on #98
I think that it would be too easy to break treemachine in adding this additional information, and I'm not comfortable enough neo4j to want to undertake it. Our choices then would be:
1. smasher (conflict service)
2. oti successor (ottreeindex)
3. something new
1 would not be difficult, but it has the disadvantage of increasing the amount of java code in the system.  3 would be tragic since we alre

[2016-07-26 15:56] jar398 commented on #98
The way this issue has evolved it doesn't belong in the repo any more (as @josephwb was indicating by closing it).  We could move it to germinator or elsewhere, but it doesn't seem  harmful to leave it here for now. We can move it when some kind of decision is reached.

[2016-07-28 20:09] josephwb commented on #226
See also: https://github.com/ropensci/rotl/issues/31

[2016-07-28 20:15] josephwb commented on #226
It _sounds like_ the new propinquity results will include "broken" taxa. If that gets ingested into treemachine then it will again be possible to distinguish invalid (i.e. pruned from taxonomy or straight up non-existent) vs. valid-but-not-in-tree ids. Right?

[2016-07-29 14:39] josephwb commented on #226
Note that this also is relevant in the curator when checking the mrca of the ingroup against the synthetic tree: if any of the mapped tips are excluded from synthesis (extinct taxa, in my case), an error is returned.

[2016-10-18 00:52] mtholder opened #229 "label internal nodes of induced tree"
with the tipmost taxon that maps anywhere along the edge between the node and its parent.

See https://github.com/OpenTreeOfLife/opentree/issues/1064#issuecomment-254371590 by @arlin

[2016-12-21 20:12] arlin opened #230 "add synth_id to response from synth-dependent services"
Clients or users who employ subtree and induced_subtree may wish to have the synth tree version.  This would be useful for the phylotastic project.

Add synth_id to response from subtree, induced_subtree, and any other services that return results dependent on the synth tree.

[2016-12-21 20:21] josephwb commented on #230
This was implemented but was voted down. Fortunately most things were just commented out, so easy to do.

[2016-12-21 20:22] bomeara commented on #222
Reproducibility. "We used the synthesis tree version 2". "Sorry, all available now is version 5"

[2016-12-21 20:22] arlin commented on #222
Phylotastic has a use-case for maintaining *metadata* on multiple synth trees.  We want clients in the phylotastic system to provide provenance information to users.  For workflows that depend on subtree or induced_subtree, this means (among other things) getting the synth tree version.

Over time, as the phylotastic system gets used, the world becomes populated with trees with metadata records th

[2016-12-21 20:22] arlin commented on #222
A more interesting case would be using the availability of separate versions to study the improvement in quality of the synth tree.

[2016-12-21 20:25] josephwb commented on #230
E.g. [this](https://github.com/OpenTreeOfLife/treemachine/blob/master/src/main/java/opentree/plugins/tree_of_life_v3.java#L222).

[2016-12-21 20:47] arlin opened #231 "add synth_id option to "about" to retrieve metadata for old versions"
This is discussed in #222.  Currently the information is available here https://tree.opentreeoflife.org/about/synthesis-release .  It might be helpful to make it available via the API of tree_of_life/about, e.g., add a synth_version argument that takes a synth_id and returns the metadata for that version.

This is not a critical use-case for Phylotastic.  For us, the problem is mostly solved by ha

[2016-12-21 21:39] jar398 commented on #230
Clients who use the taxonomy may want to know the taxonomy version. Clients
who use a study or collection may want to know the study or collection
version. The latter is implemented in an idiosyncratic way in the
phylesystem-api. I'm not sure what the otindex support for versioning is.

It would be better if versioning wasn't added in a different way for each
data type. There ought to be some comm

[2016-12-22 00:42] josephwb commented on #230
I gather that there will be a drawn-out discussion on the best way forward by people who understand the best practices. For me, _how_ versions are assigned is something that needs thought, and I would argue for consistency (but [that isn't always seen as necessary](https://github.com/OpenTreeOfLife/otindex/issues/34)). But _reporting existing_ version numbers in query responses seems very straight

[2016-12-22 00:48] mtholder commented on #222
Just filling in some of the gitter chat starting about https://gitter.im/OpenTreeOfLife/public?at=585adfd1058ca96737771f8b
I think we will be able to provide API access to the metadata for different synth runs.
The memory/storage requirements for storing a large number trees could be problematic, and the workaround for not finding a hosted tree will be to check the static uploads using https://tre

[2017-01-16 17:01] bredelings opened #232 "Display more than 3 levels if not too many tips"
It would be nice to display more levels than 3 in cases like this:

https://tree.opentreeoflife.org/opentree/argus/opentree8.0@mrcaott246ott5272/Phaethontidae--Passeriformes

A simple approach might be to have the depth be equal to max(M, largest depth with < N) children.

M=3, N=0 gives current behavior.
It seems like M=3, N=200 would be strictly an improvement on current behavior.

[2017-01-16 17:32] bredelings commented on #232
Concern #1: it could be confusing why different depths are displayed for different nodes. (Thanks to Jim)

[2017-01-16 17:33] bredelings commented on #232
Suggestion #2: "I think we should just fix the number of tips (maybe user controllable) and show trees with that many tips. with sampling and/or ellipses, as needed." (Thanks to JAR)

[2017-01-19 13:49] josephwb commented on #232
I'm waiting for a concrete agreed-upon plan before I move forward with implementing this.

[2017-01-19 15:10] kcranston commented on #232
Also need to think about how this will affect the behaviour and documentation of the [public API call for subtree](https://github.com/OpenTreeOfLife/germinator/wiki/Synthetic-tree-API-v3#subtree-tree-of-life). Current default behaviour:

* default depth (`height_limit`) is 3 for arguson and no limit for newick
* user can set `height_limit` when calling method
* the upper limit on returned tips is